.destaques {
    justify-content: center;
    background-color: #f2f2f2;
    border-radius: 5px;
    border: 0.5px solid var(--corBordasPrimaria);
    box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.4);
}

.destaques .conteudo{
  min-height: 300px;
}

.destaques .conteudo img {
    margin-left: 25px;
    width: 100px;
    height: 100px;
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 10px;
}

