.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.content {
  flex: 1; // Faz com que a área de conteúdo cresça para ocupar o espaço disponível
  display: flex;
  flex-direction: column; // Permite que os campos do formulário sejam empilhados
}

.custom-select {
  position: relative;
  display: flex;
  align-items: center;
  height: auto;
  margin-bottom: -2px;
}

#Help {
  color: #b5abab;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  margin-top: auto; // Empurra os botões para o fundo
}

.titulo {
  font-size: 20px;
  color: #19B6DD;
  margin: 0;
  text-align: center;
  flex-grow: 1;
}

.icon {
  color: #000; // Cor padrão do ícone
  transition: color 0.3s, box-shadow 0.3s; // Adiciona uma transição suave para cor e sombra

  &:hover {
    cursor: pointer;
    color: #19B6DD; // Cor do ícone quando o mouse passa sobre ele
    box-shadow: 0px 0px 5px 3px rgba(25, 182, 221, 0.5); // Efeito de sombra suave
  }
}

.mat-error-text {
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
  margin-left: -15px;
}

.mat-error-text-minlength {
  margin-top: -20px;
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
  margin-left: -1px;
}

@media (max-width: 350px) {
  .mat-autocomplete-panel {
    top: calc(100% + 4px);
  }

  .mat-error-text-minlength {
    font-size: 11px;
  }

  .titulo {
    font-size: 16px;
  }
}