@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --corBackgroundPrimaria: #0a0a4d;
  --corBackgroundSecundaria: #eaeaea;
  --corTextoPrimaria: #000;
  --corTextoSecundaria: #f1f1f1;
  --corBordasPrimaria: #a3a3a3;
  --corBackgroundTerciaria: #87c3f8;
}

.resultados {
  background-color: var(--corBackgroundSecundaria);
  border: 0.5px solid var(--corBordasPrimaria);
  border-radius: 5px;
  box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.4);
}

.resultados .conteudo {
  min-height: 450px;
  padding: 0 10px;
}

.resultados .conteudo p {
  margin-bottom: 5px;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
}

.resultados .conteudo span {
  display: grid;
  gap: 2px;
  align-content: space-around;
  background-color: #e9e9e9;
  padding: 7px 10px;
  margin-top: 15px;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 1px;
  transition: 0.5s;
  color: black;
  text-decoration: none;
}

.resultados .conteudo span:hover {
  text-decoration: underline;
  background-color: var(--corBackgroundTerciaria);
  cursor: default;
  transition: 0.5s;
}
