<div class="resultados">
  <div class="head">
    <span>Resultados</span>
  </div>
  <div class="conteudo" id="resultados">
    <span>Resultado 1</span>
    <p>
      Mussum Ipsum, cacilds vidis litro abertis.... <a href="">saiba mais</a>
    </p>
    <span>Resultado 2</span>
    <p>
      Mussum Ipsum, cacilds vidis litro abertis.... <a href="">saiba mais</a>
    </p>
    <span>Resultado 3</span>
    <p>
      Mussum Ipsum, cacilds vidis litro abertis.... <a href="">saiba mais</a>
    </p>
  </div>
</div>
