<div class="destaques">
  <div class="head">
    <span>Destaques</span>
  </div>
  <div class="conteudo">
    <img
      src="https://repositorio.ufsc.br/bitstream/handle/123456789/217874/logonovo.jpg?sequence=1&isAllowed=y"
      alt="Mês da consciência negra"
    />
    <img
      src="https://scontent.ffec5-1.fna.fbcdn.net/v/t39.30808-6/305624500_550858026835440_3287413873008613382_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=9c7eae&_nc_ohc=1nS5DgtSZpIAX_VMyYv&_nc_ht=scontent.ffec5-1.fna&oh=00_AfBPVLniMfe5GjKuadL2XtHRqkR0uBFNYol8DaSXRCap_Q&oe=656DA998"
      alt="Novembro azul"
    />
  </div>
</div>
