* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

hr {
    border: none;
    height: 1px;
    background-color: #333;
    width: 90%;
}

.form {
    width: 80%;
    max-width: 600px;
    margin-top: 50px;
    background-color: #d0e6df; 
    padding: 20px;
    border-radius: 15px;
}

.form form {
    display: grid;
    grid-template-columns: auto 1fr;
    text-align: end;
    background-color: #a9d9cb; 
    padding: 15px;
    gap: 10px; 
    margin-top: 15px; 
    border-radius: 10px;
}

input{
    border-radius: 5px;
}

input:hover{
    border-color: red;
}

.form h2 {
    grid-column: 1/3;
    width: 75%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    color: #333;
}

.form label {
    padding: 5px;
    color: #555;
}



.form #adicionar {
    grid-column: 1/3;
    width: 40%;
    height: 40px; 
    background-color: #2ecc71;
    color: #fff;
    border: none;
    border-radius: 8px; 
    cursor: pointer;
    font-weight: bold;
}

.container {
    width: 80%;
}
