.box-body{
  width: 100vw;
  height: 100vh;
  background-color: #6D9183;
  display: flex;
  justify-content: center;
  align-items: center;
}

.class-invalid {
  background-color: rgba(255, 150, 150);
  border: 0.3px solid #f00;
  color: red;
}

input[type="text"], input[type="date"] {
  border-radius: 5px;
  border: .3px solid #000;
  padding: 5px;
  font-size: 12px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;
  height: auto;
  padding: 30px;
  border: 1px solid #000;
  gap: 15px;
  background-color: #42E6A9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.box-form {
  display: flex;
  width: 100%;
}

label {
  margin-right: 15px;
  font-size: 15px;
}

input {
  flex-grow: 1;
}

.radio {
  display: flex;
  align-items: center;
  width: 110px;
  height: 15px;
  font-size: 12px;
}

.btn-submit {
  width: 100px;
  height: 30px;
  font-size: 11px;
  letter-spacing: 1px;
  border-radius: 5px;
}

.btn-submit:hover {
  cursor: pointer;
  background-color: #2A3C35;
  color: #fff;
}

.box-option {
  width: 150px;
  font-size: 12px;
  border-radius: 5px;
  padding: 2px;
}

option{
  font-size: 12px;
}
