<div class="box-body">

  <form [formGroup]="cadastro_suino" (submit)="onSubmit()">
    <div class="box-form">
      <label>Brinco do animal</label>
      <input type="text" formControlName="brinco" [ngClass]="{'class-invalid':cadastro_suino.get('brinco')?.invalid && cadastro_suino.get('brinco')?.touched}"/>
    </div>
    <div class="box-form">
      <label>Brinco do pai</label>
      <input type="text" formControlName="brinco_pai" [ngClass]="{'class-invalid':cadastro_suino.get('brinco_pai')?.invalid && cadastro_suino.get('brinco_pai')?.touched}"/>
    </div>
    <div class="box-form">
      <label>Brinco da mãe</label>
      <input type="text" formControlName="brinco_mae" [ngClass]="{'class-invalid':cadastro_suino.get('brinco_mae')?.invalid && cadastro_suino.get('brinco_mae')?.touched}"/>
    </div>
    <div class="box-form">
      <label>Data de Nascimento</label>
      <input type="date" formControlName="dt_nasc" [ngClass]="{'class-invalid':cadastro_suino.get('dt_nasc')?.invalid && cadastro_suino.get('dt_nasc')?.touched}"/>
    </div>
    <div class="box-form">
      <label>Data de saída</label>
      <input type="date" formControlName="dt_saida" [ngClass]="{'class-invalid':cadastro_suino.get('dt_saida')?.invalid && cadastro_suino.get('dt_saida')?.touched}"/>
    </div>

    <div class="box-form">
      <label>Status</label>
      <select class="box-option" name="status" formControlName="status" [ngClass]="{'class-invalid':cadastro_suino.get('status')?.invalid && cadastro_suino.get('status')?.touched}" >
        <option *ngFor="let item of lista_status" [value]="item">
          {{ item }}
        </option>
      </select>
    </div>

    <div class="radio">
      <label>Sexo</label>
      <input type="radio" value="Masculino" formControlName="sexo" [ngClass]="{'class-invalid':cadastro_suino.get('sexo')?.invalid && cadastro_suino.get('sexo')?.touched}"/> M
      <input type="radio" value="Feminino" formControlName="sexo" [ngClass]="{'class-invalid':cadastro_suino.get('sexo')?.invalid && cadastro_suino.get('sexo')?.touched}"/> F
    </div>
    <input type="submit" value="Cadastrar" class="btn-submit"/>
  </form>

</div>
