<div class="container-fluid pt-3">
	<div class="col-12">
		<div class="header-container">
			<div class="ps-2">
				<mat-icon (click)="closeModal()">arrow_back</mat-icon>
			</div>

			<h1 class="titulo" *ngIf="!editVehicle">Cadastrar Veículo</h1>
			<h1 class="titulo" *ngIf="editVehicle">Editar Veículo</h1>

			<button class="btn" (click)="openFAQModal()">
				<img class="filtro" src="../../../../../../e-drive/assets/images/pergunta-para-fazer-login-em-circulos.svg" alt="Filto">
			</button>
		</div>

		<form [formGroup]="userVehicleForm">
			<div class="content">
				<!-- Campo para selecionar a marca -->
				<div class="col-12 col-md-6 mb-2 w-100">
					<mat-form-field class="custom-select">
						<mat-label>Marca do veículo:</mat-label>
						<input #brandInput type="text" matInput formControlName="brand"
							[value]="userVehicleForm.get('brand')?.value?.name || ''" [matAutocomplete]="autoBrand"
							aria-describedby="Help">
						<mat-autocomplete #autoBrand="matAutocomplete" (optionSelected)="onBrandSelected($event)">
							<mat-option *ngFor="let brand of filteredBrands | async" [value]="brand">
								{{ brand.name }}
							</mat-option>
						</mat-autocomplete>
						<mat-icon class="autocomplete-icon" (click)="toggleAutocomplete('brand', $event)">arrow_drop_down</mat-icon>
						<mat-error
							*ngIf="userVehicleForm.get('brand')?.hasError('required') && userVehicleForm.get('brand')?.touched">
							<strong>Marca </strong> é obrigatória
						</mat-error>
					</mat-form-field>
				</div>

				<!-- Campo para selecionar o modelo -->
				<div class="col-12 col-md-6 mb-2 w-100" [ngClass]="{'hidden': !userVehicleForm.get('brand')?.value}">
					<mat-form-field class="custom-select">
						<mat-label>Modelo do veículo:</mat-label>
						<input #modelInput type="text" matInput formControlName="model"
							[value]="userVehicleForm.get('model')?.value?.name || ''" [matAutocomplete]="autoModel">
						<mat-autocomplete #autoModel="matAutocomplete" (optionSelected)="onModelSelected($event)">
							<mat-option *ngFor="let model of filteredModels | async" [value]="model">
								{{ model.name }}
							</mat-option>
						</mat-autocomplete>
						<mat-icon class="autocomplete-icon" (click)="toggleAutocomplete('model', $event)">arrow_drop_down</mat-icon>
						<mat-error
							*ngIf="userVehicleForm.get('model')?.hasError('required') && userVehicleForm.get('model')?.touched">
							<strong>Modelo</strong> é obrigatório
						</mat-error>
					</mat-form-field>
				</div>

				<!-- Campo para selecionar a versão -->
				<div class="col-12 col-md-6 mb-2 w-100" [ngClass]="{'hidden': !userVehicleForm.get('model')?.value}">
					<mat-form-field class="custom-select">
						<mat-label>Versão do veículo:</mat-label>
						<input #versionInput type="text" matInput formControlName="version"
							[value]="userVehicleForm.get('version')?.value?.version || ''" [matAutocomplete]="autoVersion">
						<mat-autocomplete #autoVersion="matAutocomplete" (optionSelected)="onVersionSelected($event)">
							<mat-option *ngFor="let vehicle of filteredVersions | async" [value]="vehicle">
								{{ vehicle.version }} <!-- Display the version string directly -->
							</mat-option>
						</mat-autocomplete>
						<mat-icon class="autocomplete-icon"
							(click)="toggleAutocomplete('version', $event)">arrow_drop_down</mat-icon>
						<mat-error
							*ngIf="userVehicleForm.get('version')?.hasError('required') && userVehicleForm.get('version')?.touched">
							<strong>Versão</strong> é obrigatória
						</mat-error>
					</mat-form-field>
				</div>

				<!-- Campo para capacidade da bateria -->
				<div class="col-12" [ngClass]="{'hidden': !userVehicleForm.get('version')?.value}">
					<mat-form-field class="custom-select w-100">
						<mat-label>Capacidade da Bateria:</mat-label>
						<input type="text" matInput formControlName="batteryCapacity" aria-describedby="Help">
						<mat-icon matSuffix class="custom-icon">battery_full</mat-icon>
						<mat-hint id="Help" class="mat-hint-text">Capacidade da bateria em <strong>KwH.</strong></mat-hint>
						<mat-error
							*ngIf="userVehicleForm.get('batteryCapacity')?.hasError('pattern') && userVehicleForm.get('batteryCapacity')?.dirty">
							<strong>Capacidade da Bateria:</strong> deve ser um número.
						</mat-error>

					</mat-form-field>
				</div>

				<!-- Campos adicionais -->
				<div class="col-12" [ngClass]="{'hidden': !userVehicleForm.get('version')?.value}">
					<div class="row">
						<div class="col-12 col-md-6 mb-2">
							<mat-form-field class="custom-select w-100">
								<mat-label>Estrada:</mat-label>
								<input type="text" matInput formControlName="mileagePerLiterRoad" appDynamicMask
									aria-describedby="Help">
								<mat-icon matSuffix class="custom-icon">local_gas_station</mat-icon>
								<!-- <span matSuffix class="custom-suffix">Km/l e</span> -->
								<mat-hint id="Help" class="mat-hint-text">Quilometragem por <strong>litro em
										estrada.</strong></mat-hint>
								<!-- Mensagens de erro -->
							</mat-form-field>
							<div
								*ngIf="userVehicleForm.get('mileagePerLiterRoad')?.hasError('pattern') && !userVehicleForm.get('mileagePerLiterRoad')?.hasError('appDynamicMask') && userVehicleForm.get('mileagePerLiterRoad')?.dirty">
								<mat-error class="mat-error-codigo-text">O valor deve ser um <strong>número</strong> com
									no máximo uma
									casa <strong>decimal (ex.: 5.0, 12.5)</strong></mat-error>
							</div>
						</div>

						<div class="col-12 col-md-6 mb-2">
							<mat-form-field class="custom-select w-100">
								<mat-label>Cidade:</mat-label>
								<input type="text" matInput formControlName="mileagePerLiterCity" [mask]="'00.0'"
									aria-describedby="Help">
								<mat-icon matSuffix class="custom-icon">local_gas_station</mat-icon>
								<!-- <span matSuffix class="custom-suffix">Km/l c</span> -->
								<mat-hint id="Help" class="mat-hint-text">Quilometragem por <strong>litro em
										cidade.</strong></mat-hint>
								<!-- Mensagens de erro -->
							</mat-form-field>
							<div
								*ngIf="userVehicleForm.get('mileagePerLiterCity')?.hasError('pattern') && userVehicleForm.get('mileagePerLiterCity')?.dirty">
								<mat-error class="mat-error-codigo-text">Insira um <strong>número</strong> com até uma
									casa
									<strong>decimal (ex.: 5.0, 12.5).</strong></mat-error>
							</div>
						</div>

						<div class="col-12 col-md-6 mb-2">
							<mat-form-field class="custom-select w-100">
								<mat-label>Consumo:</mat-label>
								<input type="text" matInput formControlName="consumptionEnergetic" [mask]="'0.00'"
									aria-describedby="Help">
								<mat-icon matSuffix class="custom-icon">electrical_services</mat-icon>
								<!-- <span matSuffix class="custom-suffix">MJ/km</span> -->
								<mat-hint id="Help" class="mat-hint-text">Consumo
									<strong>energético.</strong></mat-hint>
								<!-- Mensagens de erro -->
							</mat-form-field>
							<div
								*ngIf="userVehicleForm.get('autonomyElectricMode')?.hasError('pattern') && userVehicleForm.get('autonomyElectricMode')?.dirty">
								<mat-error class="mat-error-codigo-text">Insira um número com até duas casas
									<strong>decimais (ex.:
										5.00, 12.34).</strong></mat-error>
							</div>
						</div>

						<div class="col-12 col-md-6 mb-2">
							<mat-form-field class="custom-select w-100">
								<mat-label>Autonomia:</mat-label>
								<input type="text" matInput formControlName="autonomyElectricMode" [mask]="'000'"
									aria-describedby="Help">
								<mat-icon matSuffix class="custom-icon">electric_car</mat-icon>
								<!-- <span matSuffix class="custom-suffix">km</span> -->
								<mat-hint id="Help" class="mat-hint-text">Autonomia em<strong> modo
										elétrico</strong></mat-hint>
								<!-- Mensagens de erro -->
							</mat-form-field>
							<div
								*ngIf="userVehicleForm.get('autonomyElectricMode')?.hasError('pattern') && userVehicleForm.get('autonomyElectricMode')?.dirty">
								<mat-error class="mat-error-codigo-text">Insira um número inteiro com até <strong>três
										dígitos</strong>.</mat-error>
							</div>
						</div>
					</div>


					<!-- Mensagem de alerta -->
					<div *ngIf="isAutonomyDataMissing" class="alert alert-danger mt-2">
						Nem todos os dados de autonomia foram fornecidos pelo <strong>INMETRO.</strong> Insira apenas os dados do
						manual, pois isso pode impactar os cálculos de rotas.
					</div>
					<!-- Mensagem de alerta quando a autonomia é gerada pela média -->
					<div *ngIf="isAutonomyGeneratedByAverage" class="alert alert-warning mt-2">
						O valor da autonomia foi gerado com base em médias estatísticas, e a capacidade da bateria foi criada
						automaticamente.
						Recomenda-se verificar seu manual e editar os valores corretos para garantir precisão nas informações.
					</div>





				</div>
			</div>
			<div *ngIf="!editVehicle" class="buttons-container py-3">
				<app-ui-button class="w-100 mb-1" typeBtn="vivid-sky-blue" (click)="resetForm()"
					text="Redefinir"></app-ui-button>
				<app-ui-button typeBtn="vivid-sky-blue" [disabled]="!userVehicleForm.valid" (click)="submitForm()"
					text="Finalizar cadastro"></app-ui-button>
			</div>
			<div *ngIf="editVehicle" class="buttons-container py-3">
				<app-ui-button class="w-100 mb-1" typeBtn="vivid-sky-blue" (click)="submitForm()" text="Salvar"></app-ui-button>
				<app-ui-button class="w-100" typeBtn="outline-secondary" (click)="closeModal()" text="Cancelar"></app-ui-button>
			</div>
		</form>
	</div>
</div>