.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.container-fluid {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column; // Permite que os campos do formulário sejam empilhados
}

#Help {
  color: #b5abab;
}

.mat-hint-text {
  line-height: 1.5;
  text-align: left;
  margin-left: -14px;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  margin-top: auto; // Empurra os botões para o fundo
}

.hidden {
  visibility: hidden;
}

.back-button{
  padding-left: 1.5rem;
}

.titulo {
  font-size: 1rem;
  color: #19B6DD;
  margin: 0;
  text-align: center;
  flex-grow: 1;
}

.filtro {
  width: 20px;
}

.hover:hover {
  cursor: pointer;
}

.custom-select {
  position: relative;
  display: flex;
  align-items: center;
  height: auto;
}

.mat-autocomplete-panel {
  position: absolute;
  top: calc(100% + 8px);
  z-index: 1000;
}

.autocomplete-icon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #19B6DD;
  pointer-events: none;
  margin-right: 5px;
  pointer-events: auto;
  cursor: pointer;
}

.custom-icon {
  color: #19B6DD;
  font-size: 24px;
  margin-right: 8px;
}

.custom-form-field {
  position: relative;
}

.custom-suffix {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
  color: #19B6DD;
  pointer-events: none;
  white-space: nowrap;
}

@media (max-width: 350px) {
  .mat-autocomplete-panel {
    top: calc(100% + 4px);
  }
}
