<mat-toolbar class="navbar" color="primary">
  <div class="logo-container">
    <a routerLink="/"><img class="ingenico-logo" src="../../../../e-drive/assets/images/LogoIgenico.png" alt="ingenicoLogo"></a>
  </div>
  <div class="search-container">
    <mat-icon>search</mat-icon>
    <input #searchInput matInput placeholder="Pesquisar" [(ngModel)]="searchTerm">
    <button mat-button (click)="search()">Pesquisar</button>
  </div>

  <div class="user-profile">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Perfil</button>
      <button mat-menu-item>Configurações</button>
      <button mat-menu-item (click)="logout()">Sair</button>
    </mat-menu>
  </div>
</mat-toolbar>
//TODO - Remover
<!-- Todo: Não esta sendo usado remover -->
