<div class="container-fluid pt-3">
  <div class="col-12">

    <!-- Seção de cabeçalho contendo os botões e o título -->
    <div class="row">
      <!-- Container para o botão de voltar, título da página e botão de ajuda -->
      <div class="col-12 header-container">
        <!-- Botão para fechar o modal -->
        <button class="icon" mat-icon-button aria-label="Back" (click)="closeModal()">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <!-- Título que muda conforme o modo (cadastro ou edição de modelo) -->
        <h1 class="titulo" *ngIf="!editModel">Cadastrar Modelo</h1>
        <h1 class="titulo" *ngIf="editModel">Editar Modelo</h1>
        <!-- Botão para abrir o modal de ajuda/FAQ -->
        <button class="icon" mat-icon-button (click)="openFAQModal()">
          <mat-icon>help_outline</mat-icon>
        </button>
      </div>
    </div>

    <!-- Início do formulário reativo com o FormGroup 'modelForm' -->
    <form [formGroup]="modelForm">
      <div class="content">
        <!-- Seção para selecionar a marca do veículo -->
        <div class="row">
          <div class="col-12 col-md-6">
            <!-- Campo de seleção com autocomplete para escolher a marca -->
            <mat-form-field class="custom-select">
              <mat-label>Marca do veículo:</mat-label>
              <input #brandInput type="text" matInput formControlName="brand" [disabled]="editModel"
                [value]="modelForm.get('brand')?.value?.name || ''" [matAutocomplete]="autoBrand"
                aria-describedby="Help">
              <mat-autocomplete #autoBrand="matAutocomplete" (optionSelected)="onBrandSelected($event)">
                <mat-option *ngFor="let brand of filteredBrands | async" [value]="brand">
                  {{ brand.name }}
                </mat-option>
              </mat-autocomplete>
              <!-- Ícone para abrir o dropdown do autocomplete -->
              <mat-icon class="autocomplete-icon"
                (click)="!editModel && toggleAutocomplete($event)">arrow_drop_down</mat-icon>
              <!-- Validação para exibir erro caso o campo 'brand' esteja vazio após interação -->
              @if(modelForm.get('brand')?.hasError('required') && modelForm.get('brand')?.touched){
              <mat-error class="mat-error-text"><strong>Marca</strong> é um campo obrigatório.</mat-error>
              }
            </mat-form-field>
            <!-- Exibe mensagem de erro quando nenhuma marca é encontrada -->
            @if(noBrandFound){
            <mat-error class="mat-error-no-brand">Nenhuma <strong>marca</strong> encontrada.</mat-error>
            }
          </div>
        </div>

        <!-- Seção para inserir o nome do modelo -->
        <div class="row">
          <div class="col-12 col-md-6">
            <!-- Cartão que envolve o campo de inserção do nome do modelo -->
            <mat-card appearance="outlined" class="border-0">
              <mat-form-field class="custom-select">
                <mat-label class="custom-label">Modelo</mat-label>
                <!-- Campo de input para o nome do modelo com validação -->
                <input type="text" name="modelName" matInput formControlName="modelName" required
                  aria-describedby="Help" />
                <!-- Validação para exibir erro caso o campo 'modelName' esteja vazio após interação -->
                @if(modelForm.get('modelName')?.hasError('required') && modelForm.get('modelName')?.touched){
                <mat-error class="mat-error-text"><strong>Modelo</strong> é um campo obrigatório.</mat-error>
                }
              </mat-form-field>
              <!-- Mensagem de erro para validação de comprimento mínimo do nome do modelo -->
              <div *ngIf="modelForm.get('modelName')?.hasError('minlength') && modelForm.get('modelName')?.dirty">
                <mat-error class="mat-error-text-minlength">
                  O <strong>Nome</strong> deve ter pelo menos {{
                  modelForm.get('modelName')?.errors?.['minlength']?.requiredLength }} caracteres.
                </mat-error>
              </div>
            </mat-card>
          </div>
        </div>
      </div>

      <!-- Botão de envio, desabilitado se o formulário estiver inválido -->
      <div class="buttons-container py-1">
        <app-ui-button class="w-100 mb-2" typeBtn="vivid-sky-blue" (click)="onSubmit()" [disabled]="!modelForm.valid">{{
          editModel ? 'Atualizar Modelo' : 'Finalizar cadastro'}}</app-ui-button>
      </div>
    </form>
  </div>
</div>