<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
<div class="container">
    <h2>Olá!</h2>
    <p>Recebemos uma solicitação para redefinir a sua senha.</p>
    <p>Não se preocupe! Clique no botão abaixo para criar uma nova senha segura.</p>
    <p><a href="http://localhost:8080/reset-password/reset?token=${token}" class="button">Redefinir Senha</a></p>
    <p>Se você não solicitou a redefinição da sua senha, pode ignorar este e-mail.</p>
    <p>Por favor, não responda a este e-mail.</p>
    <p>Atenciosamente,<br>Equipe de Suporte</p>
</div>
</body>
</html>

