/* Map Styles */
#map {
    height: 100%;
    width: 100%;
    background: #ddd;
    position: relative; /* Necessário para sobrepor os elementos no mapa */
}


.return-home-btn {
    position: absolute;
    top: 88%; /* Definir a distância do topo da página */
    padding: 10px 20px;
    background-color: #19B6DD;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 10000; /* Garante que o botão fique sobre o mapa */
}
  
.return-home-btn:hover {
background-color: #0056b3;
}
  


/* Estilos dos Inputs e Botões */
.input-overlay {
    position: absolute;
    bottom: 10%; /* Define a distância da parte inferior */
    left: 50%;
    transform: translateX(-50%); /* Centraliza horizontalmente */
    width: 90%; /* Largura máxima de 90% */
    max-width: 600px; /* Define uma largura máxima */
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espaço entre os inputs */
    z-index: 1000; /* Garante que os inputs fiquem sobre o mapa */
}

/* Estilo para os campos de entrada */
.input-overlay input {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 1em;
    width: 100%;
    outline: none; /* Remove o contorno padrão do navegador */
}

/* Estilo da borda azul quando o input está focado */
.input-overlay input:focus {
    border: 2px solid #19B6DD;
}

/* Estilo dos botões */
.input-overlay button {
    padding: 10px;
    background-color: #19B6DD;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.input-overlay button:hover {
    background-color: #138AB0;
}

.use-location-btn {
    background-color: #f5f5f5;
    color: #333;
}

.use-location-btn:hover {
    background-color: #e0e0e0;
}