:host {
  button {
    border: 0px;
    height: 35px;
    width: 120px;
    border-radius: 6px;
  }
}

button[type="vivid-sky-blue"] {
  background-color: #19B6DD;
  color: #FFF;
  width: 100%;

  &:hover {
    background-color: #5baec2;
  }

  &[disabled] {
    background-color: #444444;
    color: white;
    border: 1px solid #32aecd;
    cursor: not-allowed;
    opacity: 0.5;
  }

  // Animação do botão de continuar 
  &.pulse-animation {
    animation: pulse 1s infinite;
  }

  &.pulse-animation:hover {
    animation: none;
  }
}

.btn i {
  width: 30px;
  font-size: 1.2rem;
  margin-left: -50px;
  color: #000;
  transition: 0.3s linear all;
  display: inline-block;
  cursor: pointer;
  position: relative;
  z-index: 1;

  &:hover {
    transform: translateX(10px);
    color: #19B6DD;
  }
}

button[type="solid-primary"] {
  background: green;
  border: 0px;
  color: white;
  transition: 600ms;

  &:hover {
    background: #3f6031;
  }
}

button[type="outline-primary"] {
  background: blue;
  border: 0px;
  color: white;
  transition: 600ms;

  &:hover {
    background: #3f3f60;
  }
}

button[type="outline-secondary"] {
  width: 100%;
  cursor: pointer;
  position: relative;
  background: rgb(155, 59, 59);
  border: 0px;
  color: white;
  transition: 600ms;

  &:hover {
    background: rgb(162, 1, 1);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  30% {
    transform: scale(1.02);
  }

  50% {
    transform: scale(1);
  }
}