@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import url('https://fonts.cdnfonts.com/css/amazon-ember');

html,
body {
  background-color: #EAEDED;
  font-family: 'Amazon Ember', sans-serif;
  font-size: 14px;
  color: #0F1111;
}

.text-small {
  font-size: 12px;
}

.text-medium {
  font-size: 18px;
}

.text-bold {
  font-weight: 700;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: #007185;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}
