* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-fluid {
  max-width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.hover:hover {
  cursor: pointer;
}

.titulo {
  font-size: 18px;
  padding: 0;
  margin: 0;
  color: #19B6DD;
}

.subtitulo {
  font-size: 14px;
  font-weight: 200;
  padding: 0px 0px 0px 0px;
  margin: 0;
  color: #747474;
}

.custom-label {
  font-size: 12px;
}

.pass-field i {
  right: 18px;
  top: 50%;
  font-size: 1.2rem;
  color: #000000;
  cursor: pointer;
  position: absolute;
  transform: translateY(-50%);
}

.requirement-list li {
  font-size: 1rem;
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.requirement-list li span {
  margin-left: 12px;
  color: #444444;
}

.requirement-list li.valid span {
  color: #0cb50c;
}

.content .requirement-list {
  margin-top: -20px;
}

.requirement-list li i {
  width: 20px;
  color: #fa0707;
  font-size: 0.9rem;
}

.requirement-list li.valid i {
  font-size: 1.2rem;
  color: #0cb50c;
}

.pass-field {
  position: relative;
  margin-bottom: 20px;
}

// SCSS para o componente de senha do usuário
.password-input.hidden-text {
  -webkit-text-security: disc;
  -moz-text-security: disc;
}

.confirm-password-input.hidden-text {
  -webkit-text-security: disc;
  -moz-text-security: disc;
}

#passwordHelp {
  color: #b5abab;
}

.mat-error-text {
  white-space: nowrap;
  line-height: 1.5;
  text-align: left;
  margin-left: -15px;
  font-size: 11px;
}

.mat-error-text-confirm-password {
  white-space: nowrap;
  margin-top: -22px;
  line-height: 1.5;
  text-align: left;
  font-size: 11px;
}

@media screen and (max-width: 500px) {

  .pass-field input,
  .content p {
    font-size: 1.15rem;
  }

  .pass-field i {
    font-size: 13px;
  }

  .requirement-list li {
    font-size: 10.2px;
  }

  .requirement-list li span {
    margin-left: 7px;
  }
}

@media(max-width: 435px) {
  .top-bar {
    padding: .5rem 0;
  }

  .container-fluid {
    padding: 0 10px;
  }

  .subtitulo {
    font-size: 11px;
  }

}

@media screen and (max-width: 350px) {
  .top-bar {
    padding: .5rem 0;
  }

  .container-fluid {
    padding: 0 10px;
  }

  .subtitulo {
    font-size: 10px;
  }
}

@media(max-width: 325px) {
  .mat-error-text {
    font-size: 11px;
    margin-left: -20px;
  }
}