<div class="container-fluid col-12 col-md-12 col-sm-12 col-lg-12 p-3">
  <mat-icon class="float-end hover" (click)="closeModal()">close</mat-icon>
  <h1 class="titulo d-flex justify-content-center">Criar sua senha</h1>
  <h2 class="subtitulo d-flex justify-content-center">Escolha uma senha forte para proteger sua conta.</h2>

  <form class="row" [formGroup]="userPassword" (ngSubmit)="saveUser()">
    <div class="conatiner pass-field">
      <mat-card appearance="outlined" class="border-0">
        <mat-form-field>
          <mat-label class="custom-label">Senha:</mat-label>
          <input class="password-input hidden-text" type="text" name="password" matInput formControlName="password"
            required aria-describedby="passwordHelp" />
          <i class="bi bi-eye-slash-fill eye-icon password-eye-icon"></i>
          <mat-error class="mat-error-text" *ngIf="userPassword.get('password')?.hasError('required')">
              O campo <strong>senha</strong> é obrigatória.
            </mat-error>
        </mat-form-field>
      </mat-card>
    </div>
    <div class="content">
      <ul class="requirement-list">
        <li>
          <i class="bi bi-bag-x-fill"></i>
          <span>Com pelo menos 6 caracteres</span>
        </li>
        <li>
          <i class="bi bi-bag-x-fill"></i>
          <span>Pelo menos 1 número</span>
        </li>
        <li>
          <i class="bi bi-bag-x-fill"></i>
          <span>Pelo menos 1 letra minúscula</span>
        </li>
        <li>
          <i class="bi bi-bag-x-fill"></i>
          <span>Pelo menos 1 símbolo especial </span>
        </li>
        <li>
          <i class="bi bi-bag-x-fill"></i>
          <span>Pelo menos 1 letra maiúscula</span>
        </li>
      </ul>
    </div>
    <div class="pass-field mb-1">
      <mat-card appearance="outlined" class="border-0">
        <mat-form-field>
          <mat-label class="custom-label">Confirmação de senha:</mat-label>
          <input class="confirm-password-input hidden-text" type="text" name="confirmPassword" matInput
            formControlName="confirmPassword" aria-describedby="passwordHelp" />
          <i class="bi bi-eye-slash-fill eye-icon confirm-password-eye-icon"></i>
          <mat-error class="mat-error-text" *ngIf="userPassword.get('confirmPassword')?.hasError('required')">
              O campo <strong>confirmação de senha</strong> é obrigatória.
          </mat-error>
        </mat-form-field>
        <div *ngIf="userPassword.hasError('passwordMismatch')
          && (userPassword.get('confirmPassword')?.touched
          || userPassword.get('confirmPassword')?.dirty)
          && !userPassword.get('confirmPassword')?.hasError('required')">
          <mat-error class="mat-error-text-confirm-password">As <strong>senhas</strong> não são iguais.</mat-error>
        </div>
        @if((userPassword.get('password')?.valid
        && userPassword.get('confirmPassword')?.valid
        && !userPassword.hasError('passwordMismatch')
        && !userPassword.get('newsletter')?.value)){
          <mat-error class="mat-error-text-confirm-password">Você deve <strong>aceitar os termos </strong>para continuar.</mat-error>
        }
      </mat-card>
    </div>
    <app-ui-button class="mb-1" typeBtn="vivid-sky-blue" [disabled]="!userPassword.get('newsletter')?.invalid"
      (click)="openLGPDModal()" text="Politicas de Privacidade"></app-ui-button>
    <app-ui-button class="mb-0" typeBtn="vivid-sky-blue" [disabled]="!userPassword.valid" text="Continuar"></app-ui-button>
  </form>
</div>
