.titulo {
  font-size: 20px;
  padding: 0;
  margin: 0;
  color: #19B6DD;
  margin: 0%;
}

.subtitulo {
  margin-top: -30%;
  font-size: 16px;
  font-weight: 250;
  padding: 0px 0px 0px 0px;
  margin: 0px;
  // font-weight: bold;
  color: #747474;
}

.buttons-container {
  display: flex;
  flex-direction: column; // Empilha os botões verticalmente
  margin-top: 0px; // Remove margem superior se houver
  padding-top: 0px; // Remove padding se houver
  gap: 0px; // Ajusta o espaço entre os botões
  margin-bottom: -20px;
}

.buttons-container {
  margin-top: 0px;
  margin-bottom: 0px; // Remove margem inferior para os botões
}

.mat-error-text {
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
  margin-left: -15px;
  margin-bottom: -25px !important;
}

.if-mat-error-text {
  margin-top: -5px;
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
  margin-left: 2px;
  margin-bottom: -20px;
}

.reset-password-card {
  padding: 20px;
}

mat-form-field {
  width: 100%;
  margin-bottom: -18px;
}

@media (max-width: 600px) {
  .titulo {
    font-size: 15px;
  }

  .subtitulo {
    font-size: 12px;
  }

  .buttons-container {
    gap: 1px;
  }

  .mat-error-text {
    font-size: 12px;
  }

  .if-mat-error-text {
    font-size: 12px;
    margin: -5px;
    margin-left: 2px;
  }
}

@media(max-width: 400px) {
  .if-mat-error-text {
    margin-bottom: -150%;
  }

  .titulo {
    font-size: 16px;
  }

  .subtitulo {
    font-weight: bold;
    font-size: 14px;
  }

  .buttons-container {
    margin-top: 0px;
    gap: 1px;
  }

  .if-mat-error-text {
    font-size: 12px;
    margin: -5px;
    margin-left: 2px;
  }

  .class-voltar {
    margin-top: 10px;
    margin: 0px;
  }
}

@media(max-width: 350px) {
  .titulo {
    font-size: 16px;
  }

  .subtitulo {
    font-size: 12px;
    font-weight: bold;
    color: #747474;
  }

  .buttons-container {
    gap: 0px;
  }
}