<h2 mat-dialog-title class="titulo d-flex justify-content-center">
  {{ isPasswordRecovery ? 'Redefinição de senha' : 'Recuperação de conta' }}
</h2>
<mat-card-content class="subtitulo d-flex justify-content-center">
  {{ isPasswordRecovery ? 'Digite seu e-mail para redefinir sua senha' : 'Digite seu e-mail para recuperar sua conta'
  }}
</mat-card-content>
<div class="container-fluid pt-1">
  <div class="col-12">
    <form [formGroup]="recoverPasswordForm" (ngSubmit)="onSubmit()">
      <!-- <div class="content"> -->
      <div class="col-12 col-md-12 mb-3 w-100">
        <mat-form-field>
          <mat-label>E-mail</mat-label>
          <input matInput formControlName="email" placeholder="Digite seu e-mail" type="email" required>
          <mat-error class="mat-error-text" *ngIf="recoverPasswordForm.controls['email'].hasError('required')">
            E-mail <strong>obrigatório.</strong>
          </mat-error>
        </mat-form-field>
        <mat-error class="if-mat-error-text" *ngIf="recoverPasswordForm.controls['email'].hasError('email')">
          E-mail <strong>inválido.</strong>
        </mat-error>
      </div>
      <div class="buttons-container">
        <app-ui-button class="mb-1 pt-1" typeBtn="vivid-sky-blue" [disabled]="recoverPasswordForm.invalid"
          text="Enviar"></app-ui-button>
        <app-ui-button class="button-voltar" typeBtn="outline-secondary" (click)="goBack()"
          text="Voltar"></app-ui-button>
      </div>
      <!-- </div> -->
    </form>
  </div>
</div>