.container {
  margin-top: 0px;
  position: relative;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 60px;
}

.icon-row {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 20px;
  margin-bottom: -5%;
}

.icon-row button {
  position: absolute;
  left: 0;
  margin-left: -5px;
}

.custom-icon-cellfone {
  font-size: 20px;
  color: #19B6DD;
}

.custom-icon-data .mat-datepicker-toggle-default-icon {
  width: 16px;
  height: 16px;
  fill: #19B6DD;
}

::ng-deep .custom-icon-data .mat-datepicker-toggle-default-icon {
  width: 20px;
  height: 20px;
  fill: #19B6DD;
}

.apply-button {
  background-color: #19B6DD !important;
  color: white !important;
}

.cancel-button {
  background-color: red !important;
  color: white !important;
}

.custom-label {
  font-size: 15px;
  font-weight: normal;
}

#Help {
  color: #b5abab;
}

.mat-error-text {
  margin-top: 0px;
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
  margin-left: -15px;
}

.mat-error-name {
  white-space: nowrap;
  margin-top: -22px;
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
  margin-left: 2px;
}

.mat-error-name-email {
  white-space: nowrap;
  margin-top: -22px;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
  margin-left: 1px;
}

.mat-error-codigo-text {
  white-space: nowrap;
  margin-top: 0px;
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
  margin-left: -15px;
}

.error-codigo-pais-text {
  white-space: nowrap;
}

.mat-error-text-cellPhone {
  white-space: nowrap;
  margin-top: 0px;
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
  margin-left: -5px;
}

.custom-autocomplete-option {
  font-size: 12px;
}

#form-container .form-floating .form-control:focus label {
  color: #222;
}

// Customização do select e input de telefone
.custom-select {
  width: 40%;
}

.custom-input {
  width: 60%;
}

@media(max-width: 395px) {

  .mat-error-codigo-text {
    font-size: 11px;
    white-space: nowrap;
  }

  .mat-error-text-cellPhone {
    margin-left: -20px;
  }

  .mat-error-text-cellPhone#error-text-obrigadotio {
    margin-left: 0px;
    font-size: 12px;
  }
}

@media(max-width: 370px) {
  .custom-label {
    font-size: 13px;
  }

  .mat-error-codigo-text {
    font-size: 10px;
    white-space: nowrap;
  }

  .mat-error-text-cellPhone#error-text-obrigadotio {
    font-size: 12px;
  }

  .mat-error-text-cellPhone {
    font-size: 10px;
    white-space: nowrap;
    margin-left: -5px;
  }
}

@media(max-width: 340px) {
  // .custom-select {
  //   width: 100%;
  // }

  // .custom-input {
  //   width: 100%;
  // }

  .mat-error-text-cellPhone#error-text-obrigadotio {
    font-size: 11px;
  }

  .error-codigo-pais-text {
    font-size: 11px;
  }

  .mat-error-codigo-text {
    font-size: 10px;
    white-space: nowrap;
  }

  .mat-error-text-cellPhone {
    font-size: 10px;
    white-space: nowrap;
    margin-left: -15px;
  }
}