.animal-form mat-form-field {
    display: block;
    width: 30%; /* Adjust this to change the width of the form */
    margin: 0 auto; /* This will center the form */
    padding: 20px; /* This adds some space inside the border */
  }

  .botao{
        display: block;
        margin: 0 auto;
  }