<section id="contatos">
	<footer class="footer mt-auto bkg-degrad-primary">
		<mat-card class="card-fale-conosco">
			<mat-card-title>Fale Conosco</mat-card-title>
			<mat-card-content>
				<div class="social-icons">
					<a href="https://www.facebook.com/engenio.ingenio/" target="_blank" rel="noopener noreferrer">
						<img class="m-2" width="25" src="../../../../../e-drive/assets/images/facebook-icon.svg" alt="facebook logo">
						Facebook
					</a>
					<a href="https://www.instagram.com/engenio.ingenio/" target="_blank" rel="noopener noreferrer">
						<img class="m-2" width="25" src="../../../../../e-drive/assets/images/instagram.svg" alt="instagram logo">
						Instagram
					</a>
					<a href="https://www.linkedin.com/company/ingenico/" target="_blank" rel="noopener noreferrer">
						<img class="m-2" width="25" src="../../../../../e-drive/assets/images/linkedin-icon.svg" alt="linkedin logo">
						Linkedin
					</a>
				</div>
			</mat-card-content>
			<mat-card-content>
				<p>© {{ currentYear }} E-Drive. Todos os direitos reservados.</p>
			</mat-card-content>
		</mat-card>
	</footer>
</section>
