<div class="container col-md-12 col-md-12 col-sm-12 col-lg-4 justify-content-cente form-floating p-3">
  <div class="icon-row mb-2">
    <button mat-icon-button aria-label="Back" (click)="close()" routerLink="/e-driver/login">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <mat-card-title>Redefinição de senha</mat-card-title>
  </div>
  <h1 class="titulo d-flex justify-content-center pt-5">Criar sua senha</h1>
  <h2 class="subtitulo d-flex justify-content-center"><strong>Escolha uma senha forte para proteger sua
      conta.</strong></h2>
  <form class="row" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <div class="pass-field">
      <mat-card appearance="outlined" class="border-0">
        <mat-form-field>
          <mat-label class="custom-label">Senha:</mat-label>
          <input class="password-input hidden-text" type="text" name="password" matInput formControlName="password"
            required aria-describedby="passwordHelp" />
          <i class="bi bi-eye-slash-fill eye-icon password-eye-icon"></i>
          <mat-error class="mat-error-text" *ngIf="resetPasswordForm.get('password')?.hasError('required')">
            O campo <strong>senha</strong> é obrigatória.
          </mat-error>
        </mat-form-field>
      </mat-card>
    </div>
    <div class="content">
      <ul class="requirement-list">
        <li>
          <i class="bi bi-bag-x-fill"></i>
          <span>Com pelo menos 6 caracteres</span>
        </li>
        <li>
          <i class="bi bi-bag-x-fill"></i>
          <span>Pelo menos 1 número</span>
        </li>
        <li>
          <i class="bi bi-bag-x-fill"></i>
          <span>Pelo menos 1 letra minúscula</span>
        </li>
        <li>
          <i class="bi bi-bag-x-fill"></i>
          <span>Pelo menos 1 símbolo especial </span>
        </li>
        <li>
          <i class="bi bi-bag-x-fill"></i>
          <span>Pelo menos 1 letra maiúscula</span>
        </li>
      </ul>
    </div>
    <div class="pass-field mb-5">
      <mat-card appearance="outlined" class="border-0">
        <mat-form-field>
          <mat-label class="custom-label">Confirmação de senha:</mat-label>
          <input class="confirm-password-input hidden-text" type="text" name="confirmPassword" matInput
            formControlName="confirmPassword" aria-describedby="passwordHelp" />
          <i class="bi bi-eye-slash-fill eye-icon confirm-password-eye-icon"></i>
          <mat-error class="mat-error-text" *ngIf="resetPasswordForm.get('confirmPassword')?.hasError('required')">
            O campo <strong>confirmação de senha</strong> é obrigatória.
          </mat-error>
        </mat-form-field>
        <div *ngIf="resetPasswordForm.hasError('passwordMismatch')
          && (resetPasswordForm.get('confirmPassword')?.touched
          || resetPasswordForm.get('confirmPassword')?.dirty)
          && !resetPasswordForm.get('confirmPassword')?.hasError('required')">
          <mat-error class="mat-error-text-confirm-password">As <strong>senhas</strong> não são iguais.</mat-error>
        </div>
      </mat-card>
    </div>
    <app-ui-button class="pt-5" typeBtn="vivid-sky-blue" type="submit" [disabled]="resetPasswordForm.invalid"
      text="Enviar"></app-ui-button>
  </form>
</div>
