<!-- Barra superior com título e botão de voltar -->
<div class="top-bar pt-3">
  <div class="d-flex justify-content-between container-fluid">
    <!-- Botão de voltar para o dashboard -->
    <div class="justify-content-start">
      <mat-icon class="arrow-back-icon" routerLink="/e-driver/dashboard">arrow_back</mat-icon>
    </div>
    <!-- Título centralizado -->
    <div class="flex-grow-1 text-center">
      <h1 class="text-white">Modelos de Veículos</h1>
    </div>
  </div>
</div>
<div class="conteudo">
  <!-- Container para o filtro de busca -->
  <div class="container coll-12 col-md-12 col-sm-12 col-lg-12">
    <div class="custom-filter">
      <mat-form-field class="d-flex w-100">
        <!-- Label do campo de busca -->
        <mat-label>Busca por modelo</mat-label>
        <!-- Campo de input para buscar modelos por nome -->
        <input matInput (keyup)="applyFilter($event)" placeholder="Digite sua busca" #input>
      </mat-form-field>
    </div>
  </div>

  <!-- Container principal para a tabela de modelos de veículos -->
  <div class="container coll-12 col-md-12 col-sm-12 col-lg-12" id="table-container">
    <div class="row">
      <div class="container-table">
        <table class="mat-elevation-z2 fixed-header" mat-table [dataSource]="dataSource" matSort>

          <!-- Coluna para o ícone representando cada modelo -->
          <ng-container matColumnDef="icon">
            <th class="th-table" mat-header-cell *matHeaderCellDef mat-sort-header>
              <!-- Ícone de carro com tooltip descritivo -->
              <mat-icon
                matTooltip="Este ícone representa cada modelo de carro listada abaixo. Clique para ver os detalhes de cada marca.">
                view_carousel
              </mat-icon>
            </th>
            <td class="td-table" mat-cell *matCellDef="let model">
              <!-- Ícone com tooltip detalhando o ID e o status do modelo -->
              <mat-icon class="icone-emoji-model" [matTooltip]="'ID: ' + model.id
              + ' | Status: '
              + (model.activated ? 'Ativado' : 'Desativado')"
                matTooltipClass="multi-line-tooltip">view_carousel</mat-icon>
            </td>
          </ng-container>

        <!-- Coluna para exibir a marca do veículo -->
        <ng-container matColumnDef="marck">
          <th class="th-table" mat-header-cell *matHeaderCellDef mat-sort-header><strong>Marca</strong></th>
          <td class="td-table truncate" mat-cell *matCellDef="let model">
            <strong>
              {{ model.brand.name }}
            </strong>
          </td>
        </ng-container>

        <!-- Coluna para exibir o nome do modelo -->
        <ng-container matColumnDef="name">
          <th class="th-table" mat-header-cell *matHeaderCellDef mat-sort-header><strong>Modelo</strong></th>
          <td class="td-table truncate" mat-cell *matCellDef="let model">
            <strong >
              {{ model.name }}
            </strong>
          </td>
        </ng-container>

        <!-- Coluna para exibir o status do modelo (Ativado ou Desativado) -->
        <!-- <ng-container matColumnDef="activated">
          <th class="th-table" mat-header-cell *matHeaderCellDef mat-sort-header><strong>Status</strong></th>
          <td class="td-table" mat-cell *matCellDef="let model">
            <mat-icon class="check" *ngIf="model.activated">check</mat-icon>
            <mat-icon class="error" *ngIf="!model.activated">remove</mat-icon>
          </td>
        </ng-container> -->

        <!-- Coluna de ações com opções de visualizar, editar ou alterar o status do modelo -->
        <ng-container matColumnDef="actions">
          <th class="th-table" mat-header-cell *matHeaderCellDef mat-sort-header><strong>Ações</strong></th>
          <td class="td-table" mat-cell *matCellDef="let model">
            <div class="d-flex align-items-center">
            <!-- Ícone para visualizar o modelo -->
              <mat-icon class="icone-table" (click)="openModalViewModel(model)">visibility</mat-icon>
              <!-- Ícone para editar o modelo -->
              <mat-icon class="icone-table" (click)="openModalEditModel(model)">edit</mat-icon>
              <mat-icon class="icone-table" (click)="disableModel(model)" *ngIf="model.activated">delete</mat-icon>
              <mat-icon class="icone-table" (click)="activatedModel(model)" *ngIf="!model.activated">check</mat-icon>
            </div>
          </td>
        </ng-container>

          <!-- Cabeçalhos e linhas da tabela -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <!-- Linha de feedback para quando não há dados correspondentes à busca -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell no-data" colspan="4">Não foram encontrados dados para a pesquisa: "{{input.value}}"
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

<!-- Container para o paginador e botão para adicionar um novo modelo -->
<div class="container col-12 col-md-12 col-sm-12 col-lg-12 pt-1">
  <div class="d-flex justify-content-between align-items-start">
    <!-- Dropdown para selecionar o filtro de status -->
      <mat-form-field appearance="outline" class="filter-dropdown mr-3">
        <mat-select [(value)]="selectedStatus" (selectionChange)="filterByStatus($event.value)" class="custom-select">
          <mat-option value="all">Todos</mat-option>
          <mat-option [value]="true">Ativos</mat-option>
          <mat-option [value]="false">Desativados</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Paginator -->
      <mat-paginator class="shadow-sn" [length]="totalModels" [pageSize]="pageSize"
      [pageSizeOptions]="[10, 20, 30, 40, 50]" (page)="onPageChange($event)"
      aria-label="Selecione modelos por página"></mat-paginator>
    </div>


    <!-- Botão para abrir modal de adição de nova marca -->
    <app-ui-button class="custom-button" typeBtn="vivid-sky-blue" (click)="openModalAddModel()"
    text="Novo Modelo"></app-ui-button>
</div>
