<div class="header-container pt-3">
  <div class="ps-2">
    <button class="icon" mat-icon-button aria-label="Back" (click)="closeModal()">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>

  <h1 class="titulo">Selecionar Endereço</h1>

  <button class="icon" mat-icon-button (click)="openFAQModal()">
    <mat-icon>help_outline</mat-icon>
  </button>
</div>

<div class="container col-12 col-md-12 col-sm-12 col-lg-12">
  <div class="custom-filter">
    <mat-form-field class="d-flex w-100">
      <input matInput (keyup)="applyFilter($event)" placeholder="Buscar endereço" #input>
    </mat-form-field>
  </div>
</div>

<div class="container col-12 col-md-12 col-sm-12 col-lg-12" id="table-container">
  <div class="row">
    <div class="container-table">
      <table class="mat-elevation-z2 fixed-header" mat-table [dataSource]="addresses" matSort>
        <ng-container matColumnDef="icon">
          <th class="th-table" mat-header-cell *matHeaderCellDef mat-sort-header>
            <mat-icon
              matTooltip="Este ícone representa o endereço listado abaixo. Clique para ver os detalhes do endereço."
              matTooltipPosition="above"> <!-- Ajusta a posição do tooltip se necessário -->
              location_on
            </mat-icon>
          </th>
          <td class="td-table" mat-cell *matCellDef="let address">
            <mat-icon class="icone-locale" [matTooltip]="address.street + ', ' + address.city + ', ' + address.state"
              matTooltipClass="multi-line-tooltip">
              location_on
            </mat-icon>
          </td>
        </ng-container>

        <ng-container matColumnDef="details">
          <th class="th-table" mat-header-cell *matHeaderCellDef mat-sort-header><strong>Detalhes</strong></th>
          <td class="td-table" mat-cell *matCellDef="let address">
            <strong>{{ address.street }}, {{ address.city }}, {{ address.state }}</strong>
          </td>
        </ng-container>

        <ng-container matColumnDef="chargingPoint">
          <th class="th-table" mat-header-cell *matHeaderCellDef mat-sort-header><strong>Carregamento</strong></th>
          <td class="td-table" mat-cell *matCellDef="let address">
            <span *ngIf="address.hasChargingStation">
              <mat-icon role="img" class="mat-icon notranslate check material-icons mat-ligature-font mat-icon-no-color"
                aria-hidden="true" data-mat-icon-type="font">check</mat-icon>
            </span>
            <span *ngIf="!address.hasChargingStation">
              <mat-icon role="img" class="mat-icon notranslate error material-icons mat-ligature-font mat-icon-no-color"
                aria-hidden="true" data-mat-icon-type="font">close</mat-icon>
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="choose">
          <th class="th-table" mat-header-cell *matHeaderCellDef mat-sort-header>
            <strong>Escolher</strong>
          </th>
          <td class="td-table custom-radio" mat-cell *matCellDef="let address">
            <div class="form-check">
              <input class="form-check-input custom-radio" type="radio" name="selectedAddress"
                (click)="onSelect(address)" id="address{{ address.id }}">
              <label for="address{{ address.id }}" class="visually-hidden">
                Selecione o endereço {{ address.street }}
              </label>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['icon', 'details', 'chargingPoint', 'choose']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['icon', 'details', 'chargingPoint', 'choose'];"></tr>

        <div *ngIf="input.value.length != 0">
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell no-data" colspan="4" *ngIf="input.value && !addresses.data">
              Não foram encontrados dados para a pesquisa: "{{ input.value }}"
            </td>
          </tr>
        </div>
      </table>
    </div>
  </div>
</div>
<div class="container col-12 col-md-12 col-sm-12 col-lg-12">
  <app-ui-button typeBtn="vivid-sky-blue" [disabled]="!selectedAddress" (click)="confirmAddress()"
    text="Confirmar"></app-ui-button>
  <div class="pt-1">
    <app-ui-button typeBtn="outline-secondary" (click)="closeModal()" text="Cancelar"></app-ui-button>
  </div>
</div>