.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: -25px;
}

.hover:hover {
  cursor: pointer;
}

/* Estiliza o contêiner de filtro personalizado com display flex, 
       ocupando 100% da largura, centralizando-o com margem de 5% e 
       ajustando a margem inferior para -25px para alinhamento. */
.custom-filter {
  display: flex;
  width: 100%;
  margin: 10% auto;
  margin-bottom: -25px;
}

/* Contêiner da tabela com bordas arredondadas, centralizado horizontalmente. 
   Inclui rolagem horizontal e vertical para manter o conteúdo acessível, 
   com altura adaptativa e uma altura máxima específica. */
#table-container {
  border-radius: 10px;
  margin: 1% auto 0;
  /* Margem superior para centralização e ajuste inferior */
  overflow-x: auto;
  /* Rolagem horizontal, caso necessário */
  overflow-y: auto;
  /* Rolagem vertical, caso o conteúdo ultrapasse a altura */
  height: 70vh;
  /* Altura adaptativa baseada na altura da janela */
  max-height: 20vh;
  /* Altura máxima definida */
  position: relative;
}

/* Centraliza o contêiner da tabela e ajusta a largura para 100% da tela. */
.container-table {
  display: flex;
  justify-content: center;
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

/* 
       Este estilo define que o cabeçalho da tabela (elementos <th>) 
       ficará fixo no topo ao rolar a página. 
    */
.fixed-header th {
  position: sticky;
  top: 0;
  z-index: 1;
}

.titulo {
  font-size: 1rem;
  color: #19B6DD;
  margin: 0;
  text-align: center;
  flex-grow: 1;
}

.filtro {
  width: 20px;
}

/* Estilos para o ícone de emoji (bandeira) ao lado do texto na tabela,
       com tamanho de 20px, cor cinza claro e transição suave de cor ao passar o mouse. */
.icone-locale {
  font-size: 18px;
  color: #767676;
  margin-right: 10px;
  padding: 12% 1%;
  cursor: pointer;
  transition: color 0.3s;

  /* Ao passar o mouse, a cor do ícone muda para azul claro. */
  &:hover {
    color: #19B6DD;
  }
}

.icon {
  color: #000; // Cor padrão do ícone
  transition: color 0.3s, box-shadow 0.3s; // Adiciona uma transição suave para cor e sombra

  &:hover {
    cursor: pointer;
    color: #19B6DD; // Cor do ícone quando o mouse passa sobre ele
    box-shadow: 0px 0px 5px 3px rgba(25, 182, 221, 0.5); // Efeito de sombra suave
  }
}

.custom-radio {

  // Estiliza o radio button
  .form-check-input {
    width: 15px; // Tamanho do botão
    height: 15px; // Altura do botão
    margin-right: 0px; // Espaço à direita do botão, se necessário
    margin-left: 0px; // Espaço à esquerda do botão para movê-lo para a direita
    border: 1px solid #19B6DD; // Cor da borda do botão

    &:hover {
      cursor: pointer;
      box-shadow: 0px 0px 5px 3px rgba(25, 182, 221, 0.5); // Efeito de sombra suave
    }
  }

  // Se quiser esconder o texto, mas ainda manter acessibilidade
  .visually-hidden {
    display: none; // Esconder o texto
  }

  // Adiciona um fundo ao radio button quando estiver checado
  &.form-check-input:checked {
    background-color: #19B6DD; // Cor de fundo quando selecionado
    border-color: #19B6DD; // Cor da borda quando selecionado
  }
}

/* Estilos para os cabeçalhos da tabela (th), com padding, 
           texto alinhado à esquerda, tamanho de fonte menor e cor cinza escuro. */
.th-table {
  padding: 1% 1%;
  text-align: left;
  font-size: 12px;
  font-weight: 350;
  color: #5a5a5a;
}

/* Estilos para as células da tabela (td), com padding, 
           texto alinhado à esquerda, tamanho de fonte menor e cor cinza claro. */
.td-table {
  padding: 1% 1%;
  text-align: left;
  font-size: 9px;
  font-weight: 350;
  color: #767676;
}

/* Define a altura das linhas da tabela como automática, garantindo 
           que a altura se ajuste ao conteúdo. */
tr {
  height: auto !important;
}

/* Estilos para o texto exibido quando não há dados na tabela, 
           com espaçamento interno, tamanho de fonte maior e cor azul. */
.no-data {
  padding: 8px 14px;
  font-weight: 400;
  font-size: 14px;
  color: #19B6DD;
}

/* Define o tamanho do ícone dentro do cabeçalho da tabela como 20px. */
.th-table mat-icon {
  font-size: 20px;
  padding: 8% 1%;
  text-align: left;
}

/* Define o campo de formulário dentro do filtro personalizado como flexível, 
           ocupando todo o espaço horizontal disponível. */
.custom-filter mat-form-field {
  flex: 1;
}

/* Estilos para o ícone de sucesso (check), com cor verde. */
.check {
  color: green;
}

/* Estilos para mensagens de erro, com cor vermelha (#ac2828). */
.error {
  color: #ac2828;
}

/* Estilos adicionais para telas de até 768px */
@media (max-width: 500px) {

  .icone-locale {
    font-size: 15px;
    padding: 10% 1%;
  }

  .no-data {
    font-size: 12px;
  }

  .th-table mat-icon {
    font-size: 17px;
  }

}