
  <div class="top-bar pt-3">
    <div class="d-flex justify-content-between container-fluid">
      <div class="justify-content-start">
        <mat-icon class="arrow-back-icon" routerLink="/e-driver/dashboard">arrow_back</mat-icon>
      </div>
      <div class="flex-grow-1 text-center">
        <h1 class="text-white">Meus Endereços</h1>
      </div>
    </div>
  </div>
  <div class="conteudo">
  <!-- Container para o filtro de busca -->
  <div class="container col-12 col-md-12 col-sm-12 col-lg-12">
    <div class="custom-filter">
      <mat-form-field class="d-flex w-100">
        <!-- Label do campo de busca -->
        <mat-label>Busca por bairro</mat-label>
        <!-- Campo de entrada para busca com evento de digitação -->
        <input matInput (keyup)="applyFilter($event)" placeholder="Digite sua busca" #input>
      </mat-form-field>
    </div>
  </div>

  <div class="container col-12 col-md-12 col-sm-12 col-lg-12" id="table-container">
    <div class="row">
      <div class="container-table">
        <table class="mat-elevation-z2 fixed-header" mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="icon">
            <th class="th-table" mat-header-cell *matHeaderCellDef mat-sort-header>
              <mat-icon
                matTooltip="Este ícone representa o endereço listado abaixo. Clique para ver os detalhes do endereço.">location_on</mat-icon>
            </th>

            <td class="td-table" mat-cell *matCellDef="let element">
              <mat-icon class="icone-locale"
                [matTooltip]=" 'Endereço: ' + element.number + ' - ' + element.neighborhood + ' - ' + element.city + ' - ' + element.state + ' - ' + element.country"
                matTooltipClass="multi-line-tooltip">
                location_on
              </mat-icon>
            </td>
          </ng-container>

				<ng-container matColumnDef="city">
					<th class="th-table" mat-header-cell *matHeaderCellDef mat-sort-header>
						<strong>Cidade</strong>
					</th>
					<td class="td-table truncate" mat-cell *matCellDef="let element">
						<strong>
							{{element.city}}
						</strong>
					</td>
				</ng-container>

				<ng-container matColumnDef="neighborhood">
					<th class="th-table" mat-header-cell *matHeaderCellDef mat-sort-header><strong>Bairro</strong>
					</th>
					<td class="td-table truncate" mat-cell *matCellDef="let element">
						<strong>
							{{element.neighborhood}}
						</strong>
					</td>
				</ng-container>

				<ng-container matColumnDef="state">
					<th class="th-table" mat-header-cell *matHeaderCellDef mat-sort-header>
						<strong>Estado</strong>
					</th>
					<td class="td-table truncate" mat-cell *matCellDef="let element">
						<strong>
							{{element.state}}
						</strong>
					</td>
				</ng-container>

				<!-- Actions Column -->
				<ng-container matColumnDef="actions">
					<th class="th-table" mat-header-cell *matHeaderCellDef mat-sort-header>
						<strong>Ações</strong>
					</th>
					<td class="td-table" mat-cell *matCellDef="let element">
						<div class="d-flex align-items-center">
							<mat-icon class="icone-table" (click)="openModalDetailsAddress(element)">visibility</mat-icon>
							<mat-icon class="icone-table" (click)="openModalEditAddress(element)">edit</mat-icon>
							<mat-icon class="icone-table" (click)="deleteAddress(element)">delete</mat-icon>
						</div>
					</td>
				</ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <div *ngIf="[dataSource.data.length != 0]">
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell no-data" colspan="4">Não foram encontrados dados para a
                pesquisa:
                "{{input.value}}"
              </td>
            </tr>
          </div>
        </table>
      </div>
    </div>
  </div>

  <!-- Container para o paginador e botão para adicionar nova marca -->
  <div class="container col-12 col-md-12 col-sm-12 col-lg-12">
    <!-- Paginador para navegação entre páginas -->
    <mat-paginator class="shadow-sn" [length]="total" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20, 30, 40, 50]"
      (page)="onPageChange($event)" aria-label="Selecione veículos por página"></mat-paginator>
    <!-- Botão para abrir modal de adição de nova marca -->
    <app-ui-button class="custom-button" typeBtn="vivid-sky-blue" (click)="openModalAddAddress()"
      text="Novo Endereço"></app-ui-button>
  </div>
</div>
