/* Define a barra superior com posição fixa (sticky), ocupando 100% da largura,
   com cor de fundo azul e espaçamento interno (padding) de 0.5rem. */
.top-bar {
  position: sticky;
  width: 100%;
  background-color: #19B6DD;
  padding: .5rem 0;
}

/* Estiliza o contêiner de filtro personalizado com display flex,
       ocupando 100% da largura, centralizando-o com margem de 5% e
       ajustando a margem inferior para -25px para alinhamento. */
.custom-filter {
  display: flex;
  margin: 3% auto;
  margin-bottom: -25px;
}

/* Contêiner da tabela com cantos arredondados, centralizado horizontalmente,
       com overflow-x ativado para rolagem horizontal e altura definida. */
#table-container {
  border-radius: 10px;
  margin: 1% auto;
  overflow-x: auto;
  height: 70vh;
  max-height: 38vh;
}

/* Centraliza o contêiner da tabela e ajusta a largura para 100% da tela. */
.container-table {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* A tabela ocupa 100% da largura do contêiner,
       com as bordas das células colapsadas para uma exibição contínua. */
table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; /* Garante que a tabela use o layout fixo */
}

/*
     Este estilo define que o cabeçalho da tabela (elementos <th>)
     ficará fixo no topo ao rolar a página.
  */
.fixed-header th {
  position: sticky;
  top: 0;
  z-index: 1;
}

td, th {
  white-space: normal;
  overflow: visible;
  text-overflow: unset;
}

/* Estilos para os cabeçalhos da tabela (th), com padding,
       texto alinhado à esquerda, tamanho de fonte menor e cor cinza escuro. */
.th-table {
  padding: 1% 1%;
  text-align: left;
  font-size: 110%;
  font-weight: 350;
  color: #5a5a5a;
}

/* Estilos para as células da tabela (td), com padding,
  texto alinhado à esquerda, tamanho de fonte menor e cor cinza claro. */
.td-table {
  padding: 1% 1%;
  text-align: left;
  font-size: 90%;
  font-weight: 350;
  color: #767676;
}

.truncate {
  white-space: nowrap;          /* Impede a quebra de linha */
  overflow: hidden;             /* Oculta o texto que ultrapassa o contêiner */
  text-overflow: ellipsis;     /* Adiciona reticências (...) ao final do texto */
  max-width: 70%;            /* Define uma largura máxima para a coluna */
  width: 100%;                 /* A largura ocupará 100% do espaço disponível, respeitando o max-width */
}

/* Define a altura das linhas da tabela como automática, garantindo
       que a altura se ajuste ao conteúdo. */
tr {
  height: auto !important;
}

/* Estilos para o ícone de emoji (bandeira) ao lado do texto na tabela,
       com tamanho de 20px, cor cinza claro e transição suave de cor ao passar o mouse. */
.icone-locale {
  font-size: 200%;
  color: #767676;
  margin-right: 120%;
  cursor: pointer;
  transition: color 0.3s;

  /* Ao passar o mouse, a cor do ícone muda para azul claro. */
  &:hover {
    color: #19B6DD;
  }
}

/* Estilos para o ícone interativo na tabela, com tamanho de 18px,
       cor cinza, rotação suave ao passar o mouse, e margem à direita (faltando unidade). */
.icone-table {
  font-size: 160%;
  color: #767676;
  margin-right: 5px;
  transform: rotate(0deg);
  transition: 0.3s linear all;

  /* Ao passar o mouse, o ícone muda de cor e faz uma rotação de 359 graus. */
  &:hover {
    cursor: pointer;
    color: #19B6DD;
    transform: rotate(359deg);
  }
}

/* Estilos para o texto exibido quando não há dados na tabela,
       com espaçamento interno, tamanho de fonte maior e cor azul. */
.no-data {
  padding: 8px 14px;
  font-weight: 400;
  font-size: 16px;
  color: #19B6DD;
}

/* Define os botões customizados dentro do formulário,
       centralizando-os com display flex e largura de 100%. */
.custom-button {
  display: flex;
  width: 100%;
  margin: 0% auto;
}

/* Estilos para o ícone de sucesso (check), com cor verde. */
.check {
  color: green;
}

/* Estilos para mensagens de erro, com cor vermelha (#ac2828). */
.error {
  color: #ac2828;
}

/* Define o tamanho do ícone dentro do cabeçalho da tabela como 20px. */
.th-table mat-icon {
  font-size: 160%;
  padding: 1% 1%;
  text-align: left;
}


/* Define o campo de formulário dentro do filtro personalizado como flexível,
       ocupando todo o espaço horizontal disponível. */
.custom-filter mat-form-field {
  flex: 1;
}


@media (max-width: 768px) {

  .icone-table {
    font-size: 150%;
  }

  .td-table {
    font-size: 70%;
  }

  .th-table{
    font-size: 90%;
  }

  .th-table mat-icon {
    font-size: 150%;
    padding: 1% 1%;
    text-align: left;
  }

}
