<!-- Top bar de navegação da página -->
<div class="top-bar pt-3">
  <div class="d-flex justify-content-between container-fluid">
    <div class="justify-content-start">
      <!-- Ícone de voltar, redireciona para o dashboard -->
      <mat-icon class="arrow-back-icon" routerLink="/e-driver/dashboard">arrow_back</mat-icon>
    </div>
    <div class="flex-grow-1 text-center">
      <!-- Título da página -->
      <h1 class="text-white">Marcas de Veículos</h1>
    </div>
  </div>
</div>
<div class="conteudo">
  <!-- Container para o filtro de busca -->
  <div class="container col-12 col-md-12 col-sm-12 col-lg-12">
    <div class="custom-filter">
      <mat-form-field class="d-flex w-100">
        <!-- Label do campo de busca -->
        <mat-label>Busca por marca</mat-label>
        <!-- Campo de entrada para busca com evento de digitação -->
        <input matInput (keyup)="applyFilter($event)" placeholder="Digite sua busca" #input>
      </mat-form-field>
    </div>
  </div>

  <!-- Container para a tabela de marcas de veículos -->
  <div class="container col-12 col-md-12 col-sm-12 col-lg-12" id="table-container">
    <div class="row">
      <div class="container-table">
        <table class="mat-elevation-z2 fixed-header" mat-table [dataSource]="dataSource" matSort>

        <!-- Coluna para ícones das marcas -->
        <ng-container matColumnDef="icon">
          <th class="th-table" mat-header-cell *matHeaderCellDef mat-sort-header>
            <mat-icon
              matTooltip="Este ícone representa cada marca de carro listada abaixo. Clique para ver os detalhes de cada marca.">emoji_flags</mat-icon>
          </th>

          <td class="td-table" mat-cell *matCellDef="let brand">
            <!-- Ícone da marca com tooltip -->
              <mat-icon class="icone-emoji-brand" [matTooltip]="'ID: ' + brand.id
              + ' | Status: '
              + (brand.activated ? 'Ativado' : 'Desativado')"
              matTooltipClass="multi-line-tooltip">emoji_flags</mat-icon>
          </td>
        </ng-container>

        <!-- Coluna para o nome das marcas -->
        <ng-container matColumnDef="mark">
          <th class="th-table" mat-header-cell *matHeaderCellDef mat-sort-header><strong>Marca</strong></th>
          <td class="td-table truncate" mat-cell *matCellDef="let brand">
            <strong >
              {{ brand.name }}
            </strong>
          </td>
        </ng-container>

        <!-- Coluna para o status das marcas -->


          <!-- Coluna de ações -->
          <ng-container matColumnDef="actions">
            <th class="th-table" mat-header-cell *matHeaderCellDef mat-sort-header><strong>Ações</strong></th>
            <td class="td-table" mat-cell *matCellDef="let brand">
            <div class="d-flex align-items-center">
                <!-- Ícones para ações: visualizar, editar e deletar a marca -->
                <mat-icon class="icone-table" (click)="openModalViewBrand(brand)">visibility</mat-icon>
                <mat-icon class="icone-table" (click)="openModalEditBrand(brand)">edit</mat-icon>
                <mat-icon class="icone-table" (click)="disableBrand(brand)" *ngIf="brand.activated">delete</mat-icon>
                <mat-icon class="icone-table" (click)="activateBrand(brand)" *ngIf="!brand.activated">check</mat-icon>
            </div>
            </td>
          </ng-container>

          <!-- Linhas da tabela -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <!-- Mensagem exibida quando não há dados -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell no-data" colspan="4">Não foram encontrados dados para a pesquisa: "{{input.value}}"</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

<!-- Container para o paginador, dropdown de filtro e botão para adicionar nova marca -->
<div class="container col-12 col-md-12 col-sm-12 col-lg-12 pt-1">
  <div class="d-flex justify-content-between align-items-center">
    <!-- Dropdown para selecionar o filtro de status -->
      <mat-form-field appearance="outline" class="filter-dropdown mr-3">
        <mat-select [(value)]="selectedStatus" (selectionChange)="filterByStatus($event.value)" class="custom-select">
          <mat-option value="all">Todos</mat-option>
          <mat-option [value]="true">Ativos</mat-option>
          <mat-option [value]="false">Desativados</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Paginator -->
      <mat-paginator class="shadow-sn" [length]="totalBrands" [pageSize]="pageSize"
        [pageSizeOptions]="[10, 20, 30, 40, 50]" (page)="onPageChange($event)"
        aria-label="Selecione marcas por página"></mat-paginator>
    </div>

    <!-- Botão para abrir modal de adição de nova marca -->
    <app-ui-button class="custom-button" typeBtn="vivid-sky-blue" (click)="openModalAddBrand()"
      text="Nova Marca"></app-ui-button>
</div>
