<!-- Container principal para os detalhes da marca -->
<div class="container-fluid p-3">
  <!-- Ícone de fechamento do modal, que chama a função closeModal ao ser clicado -->
  <mat-icon class="float-end hover" (click)="closeModal()">close</mat-icon>

  <!-- Título principal da seção -->
  <h1 class="titulo">Detalhes da marca</h1>
  <!-- Subtítulo que descreve a finalidade da seção -->
  <h2 class="subtitulo">Tenha uma visão mais detalhada da marca</h2>

  <div class="row mt-3">
    <!-- Primeira coluna contendo o ID da marca -->
    <div class="col-6">
      <h4 class="titulo-informacao">ID</h4>
      <!-- Exibe o ID da marca -->
      <p class="informacao">{{ brand.id }}</p>
    </div>
    <!-- Segunda coluna contendo o nome da marca -->
    <div class="col-6">
      <h4 class="titulo-informacao">Nome da Marca</h4>
      <!-- Exibe o nome da marca -->
      <p class="informacao">{{ brand.name }}</p>
    </div>
    <!-- Terceira coluna contendo o status da marca -->
    <div class="col-6">
      <h4 class="titulo-informacao">Status da Marca</h4>
      <!-- Verifica se a marca está ativada e exibe o status correspondente -->
      <!-- Exibe 'Ativo' se a marca estiver ativada -->
      @if(brand.activated || brand.activated){
        <p class="informacao check">Ativa</p>
      }
      <!-- Exibe 'Desativado' se a marca não estiver ativada -->
      @if(!brand.activated && !brand.activated){
        <p class="informacao error">Desativada</p>
      }
    </div>
  </div>
</div>
