<form class="form-horizontal" [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="form-group row" [ngClass]="aplicaCssErro('nome')">
        <label for="nome" class="col-sm-12 col-form-label">Nome</label>
        <div class="col-sm-12">
            <input type="text" class="form-control" name="nome" id="nome" placeholder="Nome" formControlName="nome">
            <app-error [mostrarErro]="verificaValidTouched('nome')" [msgErro]="'Nome é obrigatorio'"></app-error>
        </div>
    </div>

    <div class="form-group row">
        <label for="email" class="col-sm-12 col-form-label">Email</label>
        <div class="col-sm-12">
            <input type="email" class="form-control" name="email" id="email" placeholder="nome@email.com" formControlName="email">
            <app-error [mostrarErro]="verificaValidTouched('email')" [msgErro]="'Email é obrigatorio'"></app-error>
            <app-error [mostrarErro]="verificaEmailInvalido()" [msgErro]="'Email inválido'"></app-error>

        </div>
    </div>



    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="btn" (click)="resetar()" class="btn ">Reset</button>

</form>

<app-form-debug [form]="formulario"></app-form-debug>
