<footer class="bottom-bar">
    <nav class="bottom-bar-nav">
        <a routerLink="e-driver/dashboard" class="bottom-bar-link"
            [ngClass]="{ 'active': isActive('e-driver/dashboard') }">
            <img src="../../../../../e-drive/assets/images/home-icon.svg" alt="icone página principal" />
        </a>
        <a routerLink="e-driver/map" class="bottom-bar-link" [ngClass]="{ 'active': isActive('e-driver/map') }">
            <img src="../../../../../e-drive/assets/images/map-pin-icon.svg" alt="icone mapa" />
        </a>
        <a routerLink="e-driver/users/myinfo" class="bottom-bar-link"
            [ngClass]="{ 'active': isActive('e-driver/users/myinfo') }">
            <img src="../../../../../e-drive/assets/images/profile-icon.svg" alt="icone perfil" />
        </a>
    </nav>
</footer>