
.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .header{
    flex-shrink: 0;
    flex-grow: 0;
    background: #039be5;
    padding: 3px 5px;
  }
  .content{
    flex-shrink: 1;
    flex-grow: 1;
    padding: 3px 5px;
    position: relative;
    overflow-y: auto;
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
  }
  p {
    font-family: Lato;
  }

  a {
    margin-left: 10px;
    margin-right: 10px;
  }
  
  nav a {
    padding: 5px 30px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: #afadbc;
    border-radius: 4px;
  }
  
  nav a:visited, a:link {
    color: #607D8B;
  }
  nav a:hover {
    color: #039be5;
    background-color: #CFD8DC;
  }
  nav a.active {
    color: #039be5;
  }
  
  