.menu {
  background-color: #f2f2f2;
  border-radius: 5px;
  border: 0.5px solid var(--corBordasPrimaria);
  box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.4);
}

.menu .conteudo {
    display: grid;
    grid-template-rows: repeat(7, minmax(35px, 1fr));
    gap: 2px;
    align-content: space-around;
    min-height: 300px;
}

.menu .conteudo span {
    background-color: #e9e9e9;
    padding: 7px 10px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 12px;
    letter-spacing: 1px;
    transition: 0.5s;
}

.menu .conteudo span:hover {
    text-decoration: underline;
    background-color: var(--corBackgroundTerciaria);
    cursor: pointer;
    transition: 0.5s;
}

