<div class="container col-md-12 col-md-12 col-sm-12 col-lg-5 justify-content-cente form-floating  pt-3">
  <div class="icon-row">
    <button mat-icon-button aria-label="Back" (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <mat-card-title>Entre em sua conta</mat-card-title>
    <button mat-icon-button aria-label="Help" (click)="openFAQModal()">
      <mat-icon>help_outline</mat-icon>
    </button>
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="profile-header pt-2">
      <img class="profile-image" src="{{ userProfileImage }}" alt="User Photo" />
    </div>
    <div class="form-floating mb-2 pt-3">
      <mat-card appearance="outlined" class="border-0">
        <mat-form-field>
          <mat-label>E-mail</mat-label>
          <input matInput formControlName="email" placeholder="Digite seu e-mail" type="email" required>
          <mat-error class="mat-error-text" *ngIf="loginForm.controls['email'].hasError('required')">
            E-mail <strong>obrigatório.</strong>
          </mat-error>
          <mat-error class="mat-error-text" *ngIf="loginForm.controls['email'].hasError('email')">
            E-mail <strong>inválido</strong>
          </mat-error>
        </mat-form-field>
      </mat-card>
    </div>
    <div class="form-floating">
      <mat-card appearance="outlined" class="border-0">
        <mat-form-field class="pass-field">
          <mat-label>Senha</mat-label>
          <input matInput formControlName="password" placeholder="Digite sua senha" type="password"
            class="password-input hidden-text" required>
          <i class="bi bi-eye-slash-fill eye-icon password-eye-icon"></i>
          <mat-error class="mat-error-text" *ngIf="loginForm.controls['password'].hasError('required')">
            Senha <strong>obrigatória.</strong>
          </mat-error>
          <mat-error class="mat-error-text" *ngIf="loginForm.controls['password'].hasError('minlength')">
            Senha deve ter <strong>pelo menos 6 caracteres.</strong>
          </mat-error>
        </mat-form-field>
      </mat-card>
    </div>
    <app-ui-button class="w-100 pt-3" typeBtn="vivid-sky-blue" type="submit" text="Acessar meu E-Drive">
    </app-ui-button>
    <div class="links-container pt-3">
      <a class="custom-link mb-2" (click)="modalResetPassword(true)">Esqueceu a senha?</a>
      <a class="custom-link mb-2" (click)="modalResetPassword(false)">Recuperar conta</a>
      <a class="custom-link mb-2" routerLink="/e-driver/users/registration" (click)="closeDialog()">Cadastre-se</a>
    </div>
  </form>
</div>