<div class="header-container pt-3">
  <div class="ps-2">
    <button class="icon" mat-icon-button aria-label="Back" (click)="closeModal()">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>

  <h1 class="titulo">Simular Rota</h1>

  <button class="icon" mat-icon-button (click)="openFAQModal()">
    <mat-icon>help_outline</mat-icon>
  </button>
</div>

<!-- Container para o filtro de busca -->
<div class="container col-12 col-md-12 col-sm-12 col-lg-12">
  <div class="custom-filter pt-1">
    <mat-form-field class="d-flex w-100">
      <input matInput (keyup)="applyFilter($event)" placeholder="Busca por versão" #input>
    </mat-form-field>
  </div>
</div>

<form [formGroup]="vehicleStatusBatteryForm">
  <!-- Container para a tabela de marcas de veículos -->
  <div class="container col-12 col-md-12 col-sm-12 col-lg-12" id="table-container">
    <div class="row">
      <div class="container-table">
        <table class="mat-elevation-z2 fixed-header" mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="icon">
            <th class="th-table" mat-header-cell *matHeaderCellDef mat-sort-header>
              <mat-icon
                matTooltip="Estes ícones representam cada carro listado abaixo. Clique para ver detalhes de cada um.">directions_car
              </mat-icon>
            </th>

            <td class="td-table" mat-cell *matCellDef="let userVehicle">
              <mat-icon class="icone-carro" [matTooltip]=" 'Autonomia/cidade: ' + userVehicle.autonomy.mileagePerLiterCity + ' km/l'
                  + '\nAutonomia/estrada: ' + userVehicle.autonomy.mileagePerLiterRoad + ' km/l'
                  + '\nAno: ' + userVehicle.year" matTooltipClass="multi-line-tooltip"> directions_car
              </mat-icon>
            </td>
          </ng-container>

          <ng-container matColumnDef="mark">
            <th class="th-table" mat-header-cell *matHeaderCellDef mat-sort-header><strong>Marca</strong></th>
            <td class="td-table" mat-cell *matCellDef="let userVehicle">
              <strong>{{userVehicle.model.brand.name}}</strong>
            </td>
          </ng-container>

          <ng-container matColumnDef="model">
            <th class="th-table" mat-header-cell *matHeaderCellDef mat-sort-header><strong>Modelo</strong></th>
            <td class="td-table" mat-cell *matCellDef="let userVehicle">
              <strong>{{userVehicle.model.name}}</strong>
            </td>
          </ng-container>

          <ng-container matColumnDef="version">
            <th class="th-table" mat-header-cell *matHeaderCellDef mat-sort-header><strong>Versão</strong></th>
            <td class="td-table" mat-cell *matCellDef="let userVehicle"><strong>{{userVehicle.version}}</strong>
            </td>
          </ng-container>

          <ng-container matColumnDef="choose">
            <th class="th-table" mat-header-cell *matHeaderCellDef>
              <strong>Escolher</strong>
            </th>
            <td class="custom-radio" mat-cell *matCellDef="let userVehicle">
              <div class="form-check">
                <input class="form-check-input custom-radio" type="radio" formControlName="selectedVehicle"
                  [value]="userVehicle" id="vehicle{{ userVehicle.id }}">
                <label for="vehicle{{ userVehicle.id }}" class="visually-hidden">
                  Selecione o veículo {{ userVehicle.model.name }}
                </label>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <div *ngIf="input.value.length != 0">
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell no-data" colspan="5" *ngIf="input.value && !dataSource.filteredData.length">
                Não foram encontrados dados para a pesquisa: "{{ input.value }}"
              </td>
            </tr>
          </div>
        </table>
      </div>
    </div>
  </div>

  <div class="container col-12 col-md-12 col-sm-12 col-lg-12 pt-1">
    <mat-form-field class="custom-select w-100">
      <mat-label>Saúde da bateria (%):</mat-label>
      <input type="number" matInput formControlName="saudeBateria" aria-describedby="Help">
      <mat-icon matSuffix class="custom-icon">electric_car</mat-icon>

      <!-- Exibe mensagens de erro -->
      <mat-error class="mat-error-text" *ngIf="vehicleStatusBatteryForm.get('saudeBateria')!.hasError('pattern')">
        O valor deve ser um <strong>número inteiro positivo</strong>
      </mat-error>
      <mat-error class="mat-error-text" *ngIf="vehicleStatusBatteryForm.get('saudeBateria')!.hasError('min')">
        O valor <strong>mínimo é 0%</strong>
      </mat-error>
      <mat-error class="mat-error-text" *ngIf="vehicleStatusBatteryForm.get('saudeBateria')!.hasError('max')">
        O valor <strong>máximo é 100%</strong>
      </mat-error>
    </mat-form-field>
    <!-- Campos adicionais -->

    <mat-form-field class="custom-select-bater w-100">
      <mat-label>Bateria restante (%):</mat-label>
      <input type="number" matInput formControlName="bateriaRestante" aria-describedby="Help" #bateriaRestanteInput>
      <mat-icon matSuffix class="custom-icon">electric_car</mat-icon>

      <mat-error class="mat-error-text" *ngIf="vehicleStatusBatteryForm.get('bateriaRestante')!.hasError('notANumber')">
        O valor deve ser um <strong>número</strong> sem caracteres especiais
      </mat-error>
      <mat-error class="mat-error-text" *ngIf="vehicleStatusBatteryForm.get('bateriaRestante')!.hasError('required')">
        <strong>Bateria restante</strong> é obrigatória
      </mat-error>
      <mat-error class="mat-error-text" *ngIf="vehicleStatusBatteryForm.get('bateriaRestante')!.hasError('min')">
        O valor <strong>mínimo é 0%</strong>
      </mat-error>
      <mat-error class="mat-error-text" *ngIf="vehicleStatusBatteryForm.get('bateriaRestante')!.hasError('max')">
        O valor <strong>máximo é 100%</strong>
      </mat-error>
    </mat-form-field>
    <!-- @if(vehicleStatusBatteryForm.get('bateriaRestante')!.hasError('notANumber')){
          <mat-error class="mat-error-text">O valor deve ser um <strong>número</strong></mat-error>
          } -->

    @if(vehicleStatusBatteryForm.get('selectedVehicle')?.invalid &&
    vehicleStatusBatteryForm.get('bateriaRestante')?.valid){
    <mat-error class="mat-error-text-vehicle">Por favor, <strong>selecione um veículo.</strong></mat-error>
    }
    <div class="buttons-container">
      <app-ui-button class="mb-1" typeBtn="vivid-sky-blue" [disabled]="!vehicleStatusBatteryForm.valid"
        (click)="submitBatteryStatus()" text="Simular "></app-ui-button>
      <app-ui-button typeBtn="outline-secondary" (click)="closeModal()"
        text="Cancelar"></app-ui-button>
    </div>
  </div>
</form>