.flightTicket{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

h3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 3em;
    color: #3d0fe5;
    text-align: center;
    border: 5px solid #3d0fe5;
    border-radius: 15px;
    padding: 20px;
    background-color: #000000;
  }

  button {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: #ffffff;
    text-align: center;
    padding: 12px 24px;
    background-color: #3f51b5;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
    transition: background-color 0.3s ease;
    margin: 10px; 
  }
  
  button:hover {
    background-color: #303f9f;
  }
  
  button:active {
    background-color: #283593;
    box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.2), 0px 8px 10px 1px rgba(0,0,0,0.14), 0px 3px 14px 2px rgba(0,0,0,0.12);
  }