.noticias {
  background-color: #f2f2f2;
  border-radius: 5px;
  border: 0.5px solid var(--corBordasPrimaria);
  box-shadow: 0px 0px 9px 3px rgba(0, 0, 0, 0.4);
}

.noticias .conteudo {
  display: grid;
  gap: 10px;
  align-content: flex-start;
  min-height: 300px;
}

.noticias .conteudo a {
  background-color: #e9e9e9;
  padding: 7px 10px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  font-size: 13px;
  letter-spacing: 1px;
  transition: 0.5s;
  font-style: italic;
  color: black;
  text-decoration: none;
}

.noticias .conteudo a:hover {
  text-decoration: underline;
  background-color: var(--corBackgroundTerciaria);
  cursor: pointer;
  transition: 0.5s;
}
