.footer {
  max-width: 1000px;
  width: 95%;
  margin: 10px auto;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--corBackgroundTerciaria);
  color: var(--corBackgroundPrimaria);
  font-weight: bold;
  font-size: 10px;
  border-radius: 5px;
}

.footer span {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  padding: 3px;
}
