<div class="container-fluid pt-3">
  <div class="col-12">

    <div class="row">
      <!-- Container para os botões e título -->
      <div class="col-12 header-container">
        <div class="ps-2">
          <mat-icon (click)="closeModal()">arrow_back</mat-icon>
        </div>
        <h1 class="titulo" *ngIf="editAddress">{{this.actionTitle}}</h1>
        <h1 class="titulo" *ngIf="!editAddress">{{this.actionTitle}}</h1>
        <button class="btn">
          <img class="icon" (click)="openFAQModal()"
            src="../../../../../../e-drive/assets/images/pergunta-para-fazer-login-em-circulos.svg" alt="Filto">
        </button>
      </div>
    </div>

    <form [formGroup]="addressForm" (ngSubmit)="onSubmit()">
      <div class="content">
        <div class="row">
          <div class="col-12 col-md-6 mb-2">
            <mat-card appearance="outlined" class="border-0">
              <mat-form-field>
                <mat-label class="custom-label">CEP</mat-label>
                <input type="text" name="zipCode" matInput formControlName="zipCode" [mask]="'00000-000'" required
                  aria-describedby="Help" (blur)="searchPostalCode()" />

                <mat-error class="mat-error-text" *ngIf="addressForm.get('zipCode')?.hasError('required')"> O CEP é <strong>obrigatório</strong></mat-error>
              </mat-form-field>

              <div *ngIf="addressForm.get('zipCode')?.hasError('minlength') && addressForm.get('zipCode')?.dirty">
                <mat-error class="mat-error-text-minlength">O <strong>CPF</strong> deve ter pelo menos {{
                  addressForm.get('zipCode')?.errors?.['minlength']?.requiredLength }} caracteres.</mat-error>
              </div>
            </mat-card>
          </div>

          <div class="col-12 col-md-6 mb-2">
            <mat-card appearance="outlined" class="border-0">
              <mat-form-field>
                <mat-label class="custom-label">País</mat-label>
                <input type="text" name="country" matInput formControlName="country" required aria-describedby="Help"
                  (blur)="searchPostalCode()" />
              </mat-form-field>
              <div *ngIf="addressForm.get('country')?.hasError('minlength') && addressForm.get('country')?.dirty">
                <mat-error class="mat-error-text-minlength">O <strong>país</strong> deve ter pelo menos {{
                  addressForm.get('country')?.errors?.['minlength']?.requiredLength }} caracteres.</mat-error>
              </div>
            </mat-card>
          </div>

          <div class="col-12 col-md-6 mb-2">
            <mat-card appearance="outlined" class="border-0">
              <mat-form-field>
                <mat-label class="custom-label">Estado</mat-label>
                <input type="text" name="state" matInput formControlName="state" required aria-describedby="Help"
                  (blur)="searchPostalCode()" />
              </mat-form-field>
              <div *ngIf="addressForm.get('state')?.hasError('minlength') && addressForm.get('state')?.dirty">
                <mat-error class="mat-error-text-minlength">O <strong>estado</strong> deve ter pelo menos {{
                  addressForm.get('state')?.errors?.['minlength']?.requiredLength }} caracteres.</mat-error>
              </div>
            </mat-card>
          </div>

          <div class="col-12 col-md-5 mb-2">
            <mat-card appearance="outlined" class="border-0">
              <mat-form-field>
                <mat-label class="custom-label">Cidade</mat-label>
                <input type="text" name="city" matInput formControlName="city" required aria-describedby="Help"
                  (blur)="searchPostalCode()" />
              </mat-form-field>
              <div *ngIf="addressForm.get('city')?.hasError('minlength') && addressForm.get('city')?.dirty">
                <mat-error class="mat-error-text-minlength">O <strong>cidade</strong> deve ter pelo menos {{
                  addressForm.get('city')?.errors?.['minlength']?.requiredLength }} caracteres.</mat-error>
              </div>
            </mat-card>
          </div>

          <div class="col-12 col-md-6 mb-2">
            <mat-card appearance="outlined" class="border-0">
              <mat-form-field>
                <mat-label class="custom-label">Bairro</mat-label>
                <input type="text" name="neighborhood" matInput formControlName="neighborhood" required
                  aria-describedby="Help" />
              </mat-form-field>
              <div
                *ngIf="addressForm.get('neighborhood')?.hasError('minlength') && addressForm.get('neighborhood')?.dirty">
                <mat-error class="mat-error-text-minlength">O <strong>bairro</strong> deve ter pelo menos {{
                  addressForm.get('neighborhood')?.errors?.['minlength']?.requiredLength }} caracteres.</mat-error>
              </div>
            </mat-card>
          </div>

          <div class="col-12 col-md-4 mb-2">
            <mat-card appearance="outlined" class="border-0">
              <mat-form-field>
                <mat-label class="custom-label">Número</mat-label>
                <input type="text" name="number" matInput formControlName="number" required
                  aria-describedby="Help" (blur)="searchPostalCode()" />
              </mat-form-field>
              <div *ngIf="addressForm.get('number')?.hasError('maxlength') && addressForm.get('number')?.dirty">
                <mat-error class="mat-error-text-minlength">
                  O <strong>número</strong> deve ter no máximo {{ addressForm.get('number')?.errors?.['maxlength']?.requiredLength }} caracteres.
                </mat-error>
              </div>
              <div *ngIf="addressForm.get('number')?.hasError('pattern') && addressForm.get('number')?.dirty">
                <mat-error class="mat-error-text-minlength">
                  O <strong>número</strong> deve conter apenas letras, números e hífens. Você inseriu: "{{ addressForm.get('number')?.value }}"
                </mat-error>
              </div>
            </mat-card>
          </div>

          <div class="col-12 col-md-6 mb-2">
            <mat-card appearance="outlined" class="border-0">
              <mat-form-field>
                <mat-label class="custom-label">Logradouro</mat-label>
                <input type="text" name="street" matInput formControlName="street" required aria-describedby="Help" />
              </mat-form-field>
              <div *ngIf="addressForm.get('street')?.hasError('minlength') && addressForm.get('street')?.dirty">
                <mat-error class="mat-error-text-minlength">O <strong>logradouro</strong> deve ter pelo menos {{
                  addressForm.get('street')?.errors?.['minlength']?.requiredLength }} caracteres.</mat-error>
              </div>
            </mat-card>
          </div>

          <div class="col-12 col-md-6 mb-2">
            <mat-card appearance="outlined" class="border-0">
              <mat-form-field>
                <mat-label class="custom-label">Complemento</mat-label>
                <input type="text" name="complement" matInput formControlName="complement" aria-describedby="Help" />
              </mat-form-field>
              <div *ngIf="addressForm.get('complement')?.hasError('minlength') && addressForm.get('complement')?.dirty">
                <mat-error class="mat-error-text-minlength">O <strong>complemento</strong> deve ter pelo menos {{
                  addressForm.get('complement')?.errors?.['minlength']?.requiredLength }} caracteres.</mat-error>
              </div>
            </mat-card>
          </div>
        </div>
      </div>
      <!-- <mat-checkbox formControlName="hasChargingStation" [labelPosition]="labelPosition">Possui ponto de recarga para veículo elétrico?</mat-checkbox> -->

      <div class="mb-3 form-container">
        <div class="form-check mb-2 custom-checkbox">
          <input class="form-check-input" type="checkbox" name="hasChargingStation"
            formControlName="hasChargingStation"> <label class="form-check-label">Possui ponto de recarga para
            <strong>veículo
              elétrico?</strong></label>

        </div>
      </div>
      <div class="buttons-container">
        <!-- <button class="btn w-100 mb-2 border-0 text-white" type="submit" [disabled]="!addressForm.valid">Finalizar</button> -->
        <app-ui-button class="w-100 mb-2 border-0 text-white" typeBtn="vivid-sky-blue" type="submit"
          [disabled]="!addressForm.valid" text="Finalizar"></app-ui-button>
      </div>
    </form>
  </div>
</div>
