/* Map Styles */
#map {
  height: 100%;
  width: 100%;
  background: #ddd;
}

.icon-container {
  position: absolute;
  top: 83%;
  /* Centraliza verticalmente */
  left: 50%;
  /* Centraliza horizontalmente */
  transform: translate(-50%, -50%);
  /* Move o botão para o centro exato */
  z-index: 1000;
}

.return-home-btn {
  background-image: url('../../../../../../../assets/images/house-with-a-car.ico');
  // background-image: url('../../../../../../../assets/images/icons-casa.svg');
  // background-image: url('../../../../../../../assets/images/icons-casa-1.ico');
  // background-image: url('../../../../../../../assets/images/icons-house-exterior.ico');
  // background-image: url('../../../../../../../assets/images/icons-casa-de-campo.ico');
  // background-color: transparent;
  /* Remove qualquer fundo sólido */
  background-color:#19B6DD;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  border: none;
  /* Remove bordas */
  box-shadow: none;
  /* Remove qualquer sombra padrão */
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.travel-planning-cancel-btn {
  // background-image: url('../../../../../../../assets/images/cancelar-rota-de-carros-elétricos.png');
  // background-image: url('../../../../../../../assets/images/icons-bussola-cancel.ico');
  background-image: url('../../../../../../../assets/images/icons8-cancelar-101.ico');
  background-color:#19B6DD;
  /* Remove qualquer fundo sólido */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  border: none;
  /* Remove bordas */
  box-shadow: none;
  /* Remove qualquer sombra padrão */
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;

}

/* Clareia a imagem em 5% ao passar o cursor */
.return-home-btn:hover {
  filter: brightness(1.06);
}