.container {
  background-color: white;
  padding: 20px;
}

h1 {
  font-size: 28px;
  font-weight: 400;
  margin: 0;
}

.header {
  border-bottom: 1px solid #dadada;
  color: #565959;
  text-align: end;
  padding-bottom: 5px;
}

.footer {
  text-align: end;
  font-size: 18px;
  padding-top: 5px;
}
