<nav *ngIf="mostraMenu">
  <div class="nav-wrapper">
    <a routerLink="" class="brand-logo right">Home</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li  routerLinkActive="active"><a routerLink="/login">Login</a></li>
      <li  routerLinkActive="active"><a routerLink="/cursos" [queryParams]="{pagina:1}">Cursos</a></li>
      <li  routerLinkActive="active"><a [routerLink]="['/alunos']">alunos</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>


