<div class="mat-dialog-container">
  <div class="container-fluid col-12 col-md-12 col-sm-12 col-lg-12 p-3">
    <div class="lgpd-popup">
      <!-- Título e subtítulo da seção de perguntas frequentes -->
      <h1 class="titulo">Política de Privacidade e Proteção de Dados</h1>
      <h2 class="subtitulo">Entenda como seus dados são tratados e seus direitos sob a LGPD</h2>

      <!-- Conteúdo do modal -->
      <!-- Loop para exibir as perguntas e respostas -->
      <div *ngFor="let lgpd of lgpdFaqs">
        <h3>{{ lgpd.question }}</h3>
        <p>{{ lgpd.answer }}</p>
      </div>

      <!-- Checkbox para aceitar os termos e políticas -->
      <div class="form-container">
        <div class="form-check custom-checkbox">
          <input class="form-check-input" type="checkbox" name="acceptTermsControl"
            [formControl]="acceptTermsControl" />
          <label class="form-check-label">
            <strong>Ao continuar, aceito:</strong> Políticas de Privacidade e Termos de Uso.
          </label>
        </div>
      </div>
      @if(acceptTermsControl.touched && !acceptTermsControl.valid){
      <mat-error class="mat-error-text">Você deve <strong>aceitar os termos</strong> para continuar.</mat-error>
      }
    </div>
    <!-- Botão para confirmar aceitação dos termos -->
    <div class="pt-1 mb-1">
      <app-ui-button class="w-100" typeBtn="vivid-sky-blue" (click)="onConfirm()" [disabled]="!acceptTermsControl.valid"
        text="Aceitar"></app-ui-button>
    </div>
    <!-- Botão para fechar o modal -->
    <app-ui-button class="w-100" typeBtn="outline-secondary" mat-dialog-close text="Fechar"></app-ui-button>
  </div>
</div>