<div class="top-bar">
  <div class="container-fluid">
    <h1>Perfil</h1>
  </div>
</div>

<div class="profile-container">
  <div class="profile-card">
    <div class="profile-header">
      <a class="edit-button" (click)="editData()">
        <img src="assets/images/edit-icon.svg" alt="Edit">
      </a>
      <img class="profile-image" src="{{ userProfileImage }}" alt="User Photo" />
    </div>

    <div class="profile-info">
      <h2>{{ userData.name }}</h2>
      <div class="contact-info">
        <div class="contact-item">
          <mat-icon>phone</mat-icon>
          <span>{{ userData.cellPhone }}</span>
        </div>

        <div class="contact-item">
          <mat-icon>email</mat-icon>
          <span>{{ userData.email }}</span>
        </div>

        <div class="contact-item">
          <mat-icon>cake</mat-icon>
          <span>{{ userData.birth | date: 'dd/MM/yyyy' }}</span>
        </div>
      </div>
    </div>

    <div class="button-group">
      <button mat-raised-button (click)="onLogout()">Sair</button>
      <a class="delete-account" (click)="deleteAccount()">Desativar Conta</a>
    </div>
  </div>
</div>
