<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label for="date" class="form-label">Data da consulta:</label>
        <input type="date" class="form-control" name="date" formControlName="appointment_day">
    </div>
    <div class="mb-3">
        <label for="tutor" class="form-label">Nome do tutor:</label>
        <input type="text" class="form-control" name="tutor" formControlName="tutor_name">
    </div>
    <div class="mb-3">
        <label for="name" class="form-label">Nome do pet:</label>
        <input type="text" class="form-control" name="name" formControlName="pet_name">
    </div>
    <div class="mb-3">
        <label for="type" class="form-label">Tipo:</label>
        <select class="form-select" name="type" formControlName="pet_type">
            <option value="dog">Cachorro</option>
            <option value="cat">Gato</option>
            <option value="bird">Pássaro</option>
            <option value="rodent">Roedor</option>
            <option value="reptile">Réptil</option>
            <option value="fish">Peixe</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="breed" class="form-label">Raça:</label>
        <input type="text" class="form-control" name="breed" formControlName="pet_breed">
    </div>
    <div class="mb-3">
        <label for="details" class="form-label">Observação:</label>
        <textarea class="form-control" name="details" formControlName="details"></textarea>
    </div>
    <button type="submit" class="btn btn-primary"> {{ editMode ? 'Atualizar' : 'Cadastrar' }}</button>
</form>
